<html>
<head>
	<style>
		<style type="text/css">
		@font-face {
			font-family: 'Noto Sans';
			src: url('file:///D:/BS2023/wkhtmltopdf/NotoSans-Regular.ttf');
		}

		body {
		  	font-size: 16px;
		  	font-family: 'Noto Sans';
		}
		.maintable {
		    border-collapse:collapse;
		    border-spacing:0;
		    line-height: 1.2em;
		    width: 100%;
		    height: auto;
		}

		.logo {
			text-align: right;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.logo img {
			height: 100px;
			width: auto;
		}
	</style>
</head>
<body style="margin: 1px;">
	<div class="logo">
		<img src="file:///D:/bs2023/wkhtmltopdf/bs2023-logo.png">
	</div>

	<table class="maintable">
		<tr><td>{{ title }} {{ name }}</td></tr>
		<tr><td>{{ company }}</td></tr>
		<tr><td>{{ address }}</td></tr>
		<tr><td>{{ city }}</td></tr>
		<tr><td>{{ country }}</td></tr>
	</table>

	<div style="text-align: right;">
		<p>{{ date }}</p>
	</div>

	<div style="text-align: left; margin-top: 60px;">
		<p style="margin-bottom: 40px;"><strong>Official Acknowledgement</strong></p>
		<p>Dear {{ title }} {{ name }},</p>
		<p>We would like to thank you for your commitment to support the Conference Building SImulation 2023, held in Shanghai, China, September 4-6, 2023.</p>
		<p>Hereby we confirm that {{ title }} {{ name }} was a reviewer of the above event.</p>
		<p>By submitting {%if num_abs %}{{ num_abs }} reviews on abstracts{% else %}{% endif %}{% if num_abs and num_paper %} and {% else %}{% endif %}{% if num_paper %}{{ num_paper }} reviews on papers{% else %}{% endif %}, {{ title }} {{ name }} contributed to a high scientific level of presented submissions.</p>

		<p style="margin-top: 140px;">Thank you and best regards,</p>
		<p>
			<span style="margin-top: 20px;"> Yiqun Pan </span><br/>
			<img src="file:///D:/bs2023/wkhtmltopdf/signature.png" style="width: 200px; padding-top: 10px; padding-bottom: 20px;"><br/>
			Conference Chair<br/>
			Building Simulation 2023
		</p>
	</div>
</body>
</html>