<html>
<head>
	<style type="text/css">
		@font-face {
			font-family: 'Noto Sans';
			src: url({{ res_font }});
		}

		/*@font-face {
			font-family: 'YaHei';
			src: url({{ res_font_cn }});
		}*/
		body {
		  	font-size: 14px;
		  	font-family: 'Noto Sans';
		}
		.maintable {
		    border-collapse:collapse;
		    border-spacing:0;
		    line-height: 1.2em;
		    width: 100%;
		    height: auto;
		}

		.maintable td {
		    border-color:black;
		    border-style:solid;
		    border-width:1px;
		    font-size: 1em;
		    word-break:normal;
		    height: auto;
		    padding: 5px;
		}

		.right {
			text-align: right;
		}
		.gray {
			background-color: #c0c0c0;
		}

		.maintable th {
			text-align: left;
		    background-color: #000000; 
		    font-weight: bold; 
		    color: #ffffff;
		    padding: 8px 5px 8px 5px;
		}
		.logo {
			text-align: right;
			padding: 20px;
		}
		.logo img {
			height: 100px;
			width: auto;
		}
	</style>
</head>
<body>
	<div class="logo">
		<img src="{{ res_logo }}">
	</div>

	<div style="padding: 20px;">
		<table class="maintable">
			<tr>
				<th colspan="4" style="">Reservation Confirmation 预定确认信</td>
			</tr>
			<tr>
				<td class="right gray" width="18%"><b>To</b><br/>至</td>
				<td width="32%">{{ title }} {{ name }}</td>
				<td class="right gray" width="18%"><b>From</b><br/>自</td>
				<td width="32%">Reservation Office<br/>Radisson Blu Forest Manor</td>
			</tr>
			<tr>
				<td class="right gray"><b>Company</b><br/>公司名称</td>
				<td>{% if company %}{{ company }}{% else %} - {% endif %}</td>
				<td class="right gray"><b>Fax No.</b><br/>传真号码</td>
				<td>+86 21 5329 8889</td>
			</tr>
			<tr>
				<td class="right gray"><b>Fax No.</b><br/>传真号码</td>
				<td>{% if fax %}{{ fax }}{% else %} - {% endif %}</td>
				<td class="right gray"><b>Telephone No.</b><br/>电话号码</td>
				<td>+86 21 5329 8888</td>
			</tr>
			<tr>
				<td class="right gray"><b>Telephone No.</b><br/>电话号码</td>
				<td>{% if phone %}{{ phone }}{% else %} - {% endif %}</td>
				<td class="right gray"><b>Issue Date</b><br/>确认信发布日期</td>
				<td>{{ date }}</td>
			</tr>
			<tr>
				<td class="right gray"><b>Hotel Email</b><br/>酒店邮件地址</td>
				<td>reservations@radissonhongqiao.com</td>
				<td class="right gray"><b>No. of Pages</b><br/>页数</td>
				<td>1</td>
			</tr>
			<tr>
				<td colspan="4">
					Thank you for your recent inquiry with regards of the accommodation at Radisson Blue Forest Manor Shanghai Hongqiao. We are pleased to confirm your reservation as follow:<br/>
					十分感谢您对上海虹桥西郊庄园丽笙大酒店的支持，我们很荣幸为您确认房间预定的如下细节：
				</td>
			</tr>
		</table>
		<table class="maintable">
			<tr>
				<td class="right"><b>Guest Name(s)</b> 客人姓名</td>
				<td colspan="3">{{ name }}{% if guest %}, {{ guest }}{% endif %}</td>
			</tr>
			<tr>
				<td class="right" width="30%"><b>Confirmation No.</b> 预定确认号</td>
				<td width="25%">{% if confirmation_code %}{{ confirmation_code }}{% else %} 692702 {% endif %}</td>
				<td class="right" width="27%"><b>Arrival Date</b> 到店日期</td>
				<td width="18%">{{ date_arrival }}</td>
			</tr>
			<tr>
				<td class="right"><b>RHG. NO.</b> 会员号</td>
				<td> - </td>
				<td class="right"><b>Arrival Flight</b> 抵达航班</td>
				<td>{% if flight_arrival %}{{ flight_arrival }}{% else %} - {% endif %}</td>
			</tr>
			<tr>
				<td class="right"><b>Room Type</b> 房间类型</td>
				<td>{% if room_type == 1 %}King Bed Room{% else %}Twin Bed Room{% endif %} (non-smoking)</td>
				<td class="right"><b>Arrival Time</b> 到店时间</td>
				<td> - </td>
			</tr>
			<tr>
				<td class="right"><b>Daily Rate</b> 房间价格</td>
				<td>
					{% if payment_method %}{% if payment_method == 1 %}USD 130{% elif payment_method == 2 %}CNY 780{% endif %} per night {% else %} - {% endif %}</td>
				<td class="right"><b>Arrival Transfer</b> 接车信息</td>
				<td> - </td>
			</tr>
			<tr>
				<td class="right"><b>Breakfast</b> 早餐</td>
				<td>1-2 breakfast per day</td>
				<td class="right"><b>Departure Date</b> 离店日期</td>
				<td>{{ date_departure }}</td>
			</tr>
			<tr>
				<td class="right"><b>No. of Room(s)</b> 房间数量</td>
				<td>1</td>
				<td class="right"><b>Departure Flight</b> 起飞航班</td>
				<td>{% if flight_departure %}{{ flight_departure }}{% else %} - {% endif %}</td>
			</tr>
			<tr>
				<td class="right"><b>Number of Adult/Child</b> 客人数量</td>
				<td>
					{% if guest != '' %}2{% else %}1{% endif %} adult{% if guest != '' %}s{% else %}{% endif %}{% if child %}, 1 child{% else %}{% endif %}
				</td>
				<td class="right"><b>Departure Time</b> 离店时间</td>
				<td> - </td>
			</tr>
			<tr>
				<td class="right"><b>Status</b> 预定状态</td>
				<td>{% if payment_method %}Guaranteed{% else %}Non-Guaranteed{% endif %}</td>
				<td class="right"><b>Departure Transfer</b> 送车信息</td>
				<td> - </td>
			</tr>
			<tr>
				<td class="right"><b>Payment Method</b> 付款方式</td>
				<td colspan="3">Pay by guest own account. {% if payment_info %}{{ payment_info }}{% endif %}</td>
			</tr>
			<tr>
				<td colspan="4">Above rate include service charge & VAT. 以上价格包含服务费及增值税。<br/>
				Check in time is 14:00. Check out time is 12:00 noon. 入住时间为下午两点，离店时间为中午12点。</td>
			</tr>
		</table>
	</div>

	<div style="padding: 20px;">
		<table class="maintable">
			<tbody>
				<tr>
					<th>
						Reservation Status / Cancellation and No-show Policy 预定担保状态及预定取消规定
					</th>
				</tr>
				<tr>
					<td>
						1. Non-Guaranteed reservation will be released by 18:00 of arrival. If you need to arrival after 18:00 (Beijing Time), Please call back to the hotel and provide a credit card guarantee. <br/>
						非担保预订将保留至到店当日下午18:00，如您的到店时间超过下午18:00，请致电酒店并提供信用卡担保。 <br/>
						2. Guaraneed reservations will be held until noon time on the following day. If there is any amendment or cancellation, please contact us 48 hours in advance to avoid one night no show penalty. <br/>
						担保预订将为您保留至次日酒店标准离店时间。预订担保后若有变动或取消，请于抵店前48小时之前通知酒店，以免酒店向您收取第一晚的房费。
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div style="text-align: right; position:absolute; bottom: 0px; right: 0px; padding: 20px; color: #858585;">
		<p>
			上海虹桥西郊庄园丽笙大酒店<br/>
			Radisson Blu Forest Manor Shanghai Hongqiao <br/>
			中国上海闵行区金丰路839号      邮编201107<br/>
			No. 839 Jin Feng Road Minhang District, Shanghai, P.R. China, PRC  201107<br/>
			Tel 电话+86 (0)21 5329 8888         Fax 传真：+86 (0)21 5329 8889<br/>
			reservations@radissonhongqiao.com</p>
		</p>
	</div>
</body>
</html>