/__pycache__/
/app/__pycache__/
/app/wkhtmltopdf/__pycache__/
/venv/
/app/downloads/recordings/*.mp4
/app/uploads/*.pdf
/app/static/booking/*.pdf
/app/static/cert/*.pdf
/app/static/poster/*.mp4
/app/static/poster/*.jpg 
/app/static/poster/*.png 
/app/static/poster/*.webm
/migrations/
app.db
env.txt
