@font-face {
    font-family: 'Six Caps';
    src: url('../fonts/SixCaps-Regular.ttf') format('truetype');
}



#header {
    position: absolute;
    width: 100%;
    top: calc(100% - 65px);
    left: 0;
}

#header .header-btn-collapse-nav {
    margin-top: 4px;
}

#header .container {
    width: 100%;
}

#header .header-body {
    background: transparent;
    border-top: 0;
    border-bottom: 0;
    min-height: 0;
}

#header .header-container {
    min-height: 60px;
}

#header .header-nav {
    padding: 0;
}

#header .header-nav-main:before {
    content: none;
}

#header .header-nav-main nav > ul > li > a {
    position: relative;
    background: transparent !important;
    font-size: 13.6px;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0;
    color: #FFF !important;
    transition: ease color 300ms;
}

@media (min-width: 992px) and (max-width: 1060px) {
    #header .header-nav-main nav > ul > li > a {
        padding: 27px 7px;
    }
}

@media (min-width: 1061px) and (max-width: 1199px) {
    #header .header-nav-main nav > ul > li > a {
        padding: 27px 10px;
    }
}

@media (min-width: 1200px) {
    #header .header-nav-main nav > ul > li > a {
        padding: 27px 16px;
    }
}

#header .header-nav-main nav > ul > li > a.active:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #333333;
    width: 100%;
    color: #FFF;
}


#header .header-nav-main nav > ul li {
    border-bottom: 0;
}

html.sticky-header-active #header .header-body {
    background: linear-gradient(to right, #ed9030, #e98135 10%, #e27336 20%, #c64d40 30%, #a42a44 40%, #5f003f 50%, 
        #52003b 60%, #360031 70%, #29002b 80%, #200021 90%, #200021);
    border-bottom-color: #333940;
    transition: ease color 300ms;
}

@media (max-width: 991px) {
    html:not(.sticky-header-active) #header .header-body {
        background: linear-gradient(to right, #ed9030, #e98135 10%, #e27336 20%, #c64d40 30%, #a42a44 40%, #5f003f 50%, 
                #52003b 60%, #360031 70%, #29002b 80%, #200021 90%, #200021);
        border-bottom-color: #ca3352;
        border-bottom-width: 1px;
        transition: ease color 300ms;
        position: fixed;
        top: 0;
    }

    #header .header-nav-main nav > ul > li > a.active:before {
        bottom: 0;
        border-width: 2px;
    }

    #header .header-index .header-body {
    background: transparent;
}
}

@media (min-width: 992px) {
    #header .header-nav-main nav > ul > li > a {
        height: 100%;
    }
    #header .header-nav-main nav > ul > li > a.active {
        color: #fff;
    }
    #header .header-nav-main nav > ul > li:hover > a, #header .header-nav-main nav > ul > li.open > a {
        color: #fff;
    }
}


.slogan {
    text-transform: uppercase;
    font-family: 'Six Caps';
    letter-spacing: 1px;
}

.invert{
    color: #febc6d;
}

.committee-list td {
    padding-left: 20px;
}
.committee-list tr {
    border-left: 2px solid #eee;
}

/* ###########################   People style   ########################## */
/* ####################################################################### */

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

/* base.html refinement */
.img-box img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%
}


/* ##########################   SIDEBAR STYLE   ########################## */
/* ####################################################################### */

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    overflow: hidden;
}

#sidebar.active {
    right: 0px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar ul li {
    padding: 5px;
    padding-left: 15px;
    font-size: 13px;
    display: block;
}

#sidebar button {
    padding: 10px 15px;
    background: none;
}

#sidebar button:focus{
  color: #000;
  border: none;
  outline: 0 ;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
#sidebar button:active{
  color: #000;
}

#sidebar .accessible:hover {
    color: #fff;
    background: #ca3352;
    text-decoration: none;
}

#sidebar a {
    text-decoration: none;
}


/* I made some changes here so the background color won't override other a labels */

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar-menu {
    padding: 20px;
}

.sidebar-menu ul li {
    color: #282923;
}

.sidebar-menu .accordion-item .accordion-header .accordion-button {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
}

.sidebar-menu .accordion-item .accordion-collapse .accordion-body {
    padding: 0px;
}
