.table-workshop {
    width: 100%;
    border-collapse: separate !important;
    margin: 0;
    font-size: 1em;
    line-height: 1.2em;
    text-align: left;
    border-spacing: 0px;
}

.table-workshop h5 {
    margin-bottom: 0px;
}

.table-workshop tr {
    background-color: #ffffff;
    margin: 0px;
}

.table-workshop td {
    padding: 10px;
}

.table-workshop tr td {
    border: 1px solid transparent;
    transition: all ease 0.4s;
    position:relative;
  }

.table-workshop tr:hover td {
    border-color: #555555;
    border-radius: 10px;
  }

.info-title {
    position: relative;
    margin: 0;
}

.info-title .watermark {
    position: absolute;
    top: 0px;
    right: 0px; 
    font-weight: 1000;
    text-align: right;
    font-size: 8em;
    line-height: 1;
    color: #eeeeee;
    z-index: 0;
}

.info-card {
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease 0.4s;
}

.info-card {
    font-size: 0.9em;
    line-height: 1.5em;
}

.info-table {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 10px; /* control the ribbon shape */
  --t: 20px; /* the top offset */
  z-index: 99;
  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
  background: #BD1550;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
  color: #ffffff;
}