/* ----------------------------------------------------------------------- */
/* program page - conference schedule - program table */

.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-ynyl{background-color:#c2e6f0;border-color:inherit;text-align:left;vertical-align:middle;}
.tg .tg-5byz{background-color:#c2e6f0;border-color:inherit;text-align:left;vertical-align:middle}
.tg .tg-c3ow{background-color:#ffffff;border-color:inherit;text-align:left;vertical-align:middle}
.tg .tg-llyw{background-color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:middle}
.tg .tg-plenary{background-color:#fbe3d6;border-color:inherit;text-align:left;vertical-align:middle}
.tg .tg-leisure{background-color:#fff9e7;border-color:inherit;text-align:left;vertical-align:middle}
.tg .tg-void{}

.tg .tg-icon{
  background-color:#ffffff;
  border-color:inherit;
  color:#b13742;
  text-align:center;
  vertical-align:middle
}

.tg .tg-c2ow {
    background-color:#ffffff;
    writing-mode: vertical-lr;
    -webkit-text-orientation: revert;
    padding: 4px;
}

.tg .tg-c3vt {
    background-color:#ffffff;
}

.tg .tg-virtual {
    background-color: #ededed;
}

.tg .tg-techtour {
    background-color: #e9f2f3;
}

.tg {
    table-layout: fixed;
    border-collapse:collapse;
    border-spacing:0;
    text-align: left;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2em;
    width: 100%;
    height: auto;
}

.tg tr td {
    border: none;
    padding: 0; margin: 0;
}


.tg .tg-timestamp {
    background-color: #ffffff;
    width: 50px;
    border-right: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    font-size: 0.9em;
    vertical-align: bottom;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.tg .tg-timestamp div{
    padding-right: 2px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #fff 75%, #000 76%);
    border-image-slice: 1;
}