{% extends 'newsletter.html' %}

{% block article %}

<article class="post post-large blog-single-post border-0 m-0 p-0">

    <div class="post-content">

        <h2 class="font-weight-semi-bold">Building Simulation 2023 will be held in Shanghai, China</h2>

        <div class="post-meta">
            <span><i class="far fa-calendar-alt"></i> May 1, 2021 </span>
        </div>

        <p>Shanghai (China) has won the BS2023, i.e. the 18th IBPSA International Conference and Exhibition in competition with Istanbul (Turkey) and Brisbane (Australia). An IBPSA board meeting held on May 20th has announced this decision. This will be the return of Building Simulation to China after 16 years.</p>
        <p>The BS2023 will be organized by Tongji and Tsinghua University under guidance of IBPSA-China, and hosted at Shanghai International Convention Center early September in 2023. Various activities traditional and unpresented will be squeezed in the compact 3.5-day conference, including keynote speeches, full oral & flash presentation, poster & vendors exhibition, technical tours, student competitions and so on. Compared with previous conferences, BS2023 emphasizes high academic quality, paperless and low carbon, and will promote interdisciplinary communications and industrial application of simulation techniques.</p>
        <p>Prof. Yiqun Pan from Tongji University will be in charge of the conference organization committee with Da Yan from Tsinghua University acting as co-chair. Preparation will initiate from today on, supported by sponsor companies, local associations, and IBPSA regional affiliates. Shanghai sends a warm welcome to all practitioners in building simulation related areas, to join this inspiring event!</p>
        <p>The International Building Performance Simulation Association (<strong>IBPSA</strong>), is a non-profit international society of building performance simulation researchers, developers and practitioners, dedicated to improving the built environment. The IBPSA International Conference and Exhibition (<strong>BS</strong>) will be held every 2 years, attracting hundreds of people all over the world to participate. The BS2019 conference was held in Rome in September with 1000 participants. Building Simulation 2021 will be held in Bruges.</p>
        <p><strong>IBPSA-China</strong> is a regional affiliates of IBPSA, which has successfully hosted BS2007, ASim2012 and ASim2018 since its foundation in 2007.</p>
    </div>
</article>

{% endblock %}