<!-- The tomb of legacy version -->

<!-- The legacy program preview table -->
<script type="text/javascript">
.table-program {
    border-collapse:collapse;
    border-spacing:0;
    text-align: center;
    line-height: 1.2em;
    width: 100%;
    height: auto;
}

.table-program td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-size: 1em;
    overflow:hidden;
    word-break:normal;
    height: auto;
}

.table-program th {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.table-program .tg-yj5y {
    background-color: #efefef;
}
.table-program .tg-m3n4 {
    background-color: #e9f2f3;
    writing-mode: vertical-rl;
    -webkit-text-orientation: revert;
    text-orientation: revert;
}
.table-program .tg-6965{
    background-color:#fcecd9;
}
.table-program .tg-xvon{
    background-color:#c74e40;
    color: #ffffff;
    font-weight: bold;
}
.table-program .tg-de2y {
    border-left: none;
    border-top: none;
    border-bottom: none;
    font-size: 0.8em;
    vertical-align: bottom;
    text-align: right;
    padding: 0px;
}
.table-program .tg-de2y div{
    padding-right: 2px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #fff 75%, #000 76%);
    border-image-slice: 1;
}
.table-program .tg-c2ow {
    writing-mode: vertical-rl;
    -webkit-text-orientation: revert;
    text-orientation: revert;
    padding: 4px;
}

@media (max-width: 768px) {
    .table-program td {
        font-size: 0.8em;
        line-height: 1em;
    }
    .table-program .tg-e1ow {
        writing-mode: vertical-rl;
        -webkit-text-orientation: revert;
        text-orientation: revert;
    }
}
</script>

<table class="table-program">
    <thead>
        <tr style="height: 46.67px;">
            <th class="tg-de2y" ><div>7:00</div></th>
            <th class="tg-xvon" colspan="3">Sept. 3</th>
            <th class="tg-xvon" colspan="2">Sept. 4</th>
            <th class="tg-xvon" colspan="2">Sept. 5</th>
            <th class="tg-xvon">Sept. 6</th>
            <th class="tg-xvon">Sept. 7</th>
        </tr>
    </thead>
    <tbody>
        <tr style="height: 46.67px;">
            <td class="tg-de2y"><div>8:00</div></td>
            <td class="tg-c2ow" rowspan="16">Registration</td>
            <td class="tg-yj5y" colspan="2"></td>
            <td class="tg-c3ow" colspan="2">Registration</td>
            <td class="tg-yj5y" colspan="3"></td>
            <td class="tg-c3ow" rowspan="15">IBPSA<br>Board<br>Meeting</td>
        </tr>
        <tr style="height: 35px;">
            <td class="tg-de2y"><div>8:45</div></td>
            <td class="tg-c3ow" colspan="2" rowspan="7">Committee<br>Meeting</td>
            <td class="tg-c3ow" colspan="2">Opening Ceremony</td>
            <td class="tg-c3ow" colspan="2">Keynote Speech</td>
            <td class="tg-c3ow">Keynote Speech</td>
        </tr>
        <tr style="height: 35px;">
            <td class="tg-de2y"><div>9:30</div></td>
            <td class="tg-c3ow" colspan="2">Keynote Speech</td>
            <td class="tg-c3ow" colspan="2">Awards</td>
            <td class="tg-c3ow">Keynote Speech</td>
        </tr>
        <tr style="height: 23.33px;">
            <td class="tg-de2y"><div>10:00</div></td>
            <td class="tg-6965" colspan="2">Break / Poster</td>
            <td class="tg-6965" colspan="2">Break / Poster</td>
            <td class="tg-6965">Break / Poster</td>
        </tr>
        <tr style="height: 46.67px;">
            <td class="tg-de2y"><div>11:00</div></td>
            <td class="tg-c3ow" colspan="2">Parallel Session</td>
            <td class="tg-c3ow" colspan="2">Parallel Session</td>
            <td class="tg-c3ow">Parallel Session</td>
        </tr>
        <tr style="height: 4.67px;">
            <td class="tg-de2y"><div>11:10</div></td>
            <td class="tg-6965" colspan="2"></td>
            <td class="tg-6965" colspan="2"></td>
            <td class="tg-6965"></td>
        </tr>
        <tr style="height: 46.67px;">
            <td class="tg-de2y"><div>12:10</div></td>
            <td class="tg-c3ow" colspan="2">Parallel Session</td>
            <td class="tg-c3ow" colspan="2">Parallel Session</td>
            <td class="tg-c3ow">Parallel Session</td>
        </tr>
        <tr style="height: 85.56px;">
            <td class="tg-de2y"><div>14:00</div></td>
            <td class="tg-6965" colspan="2">Lunch / Poster</td>
            <td class="tg-6965" colspan="2">Lunch / Poster</td>
            <td class="tg-6965">Lunch / Poster</td>
        </tr>
        <tr style="height: 35px;">
            <td class="tg-de2y"><div>14:45</div></td>
            <td class="tg-e1ow" rowspan="3">Sponsor<br>Workshop</td>
            <td class="tg-m3n4" rowspan="7">Technical<br/>Tour</td>
            <td class="tg-c3ow" colspan="2">Keynote Speech</td>
            <td class="tg-c3ow" colspan="2">Keynote Speech</td>
            <td class="tg-c3ow" rowspan="3">Parallel Session</td>
        </tr>
        <tr style="height: 4.67px;">
            <td class="tg-de2y"><div>14:55</div></td>
            <td class="tg-6965" colspan="2"></td>
            <td class="tg-6965" colspan="2"></td>
        </tr>
        <tr style="height: 46.67px;">
            <td class="tg-de2y"><div>15:55</div></td>
            <td class="tg-c3ow" colspan="2">Parallel Session</td>
            <td class="tg-c3ow" colspan="2">Parallel Session</td>
        </tr>
        <tr style="height: 19.44px;">
            <td class="tg-de2y"><div>16:20</div></td>
            <td class="tg-6965">Break</td>
            <td class="tg-6965" colspan="2">Break / Poster</td>
            <td class="tg-6965" colspan="2">Break / Poster</td>
            <td class="tg-6965">Break / Poster</td>
        </tr>
        <tr style="height: 46.67px;">
            <td class="tg-de2y"><div>17:20</div></td>
            <td class="tg-e1ow" rowspan="3">Sponsor<br>Workshop</td>
            <td class="tg-c3ow">Parallel Session</td>
            <td class="tg-m3n4" rowspan="3">Technical<br/>Tour</td>
            <td class="tg-c3ow">Parallel Session</td>
            <td class="tg-m3n4" rowspan="3">Technical<br/>Tour</td>
            <td class="tg-c3ow" rowspan="3">Closing Ceremony<br>Awards<br>BS2025</td>
        </tr>
        <tr style="height: 4.67px;">
            <td class="tg-de2y"><div>17:30</div></td>
            <td class="tg-6965"></td>
            <td class="tg-6965"></td>
        </tr>
        <tr style="height: 46.67px;">
            <td class="tg-de2y"><div>18:30</div></td>
            <td class="tg-c3ow">Parallel session</td>
            <td class="tg-3xi5">Parallel Session</td>
        </tr>
        <tr style="height: 116.67px;">
            <td class="tg-de2y"><div>21:00</div></td>
            <td class="tg-6965" colspan="2">Welcome<br>Reception</td>
            <td class="tg-6965" colspan="2">River<br>Cruise<br>(tentative)</td>
            <td class="tg-6965" colspan="2">Banquet<br>Dinner</td>
            <td class="tg-yj5y" colspan="2"></td>
        </tr>
    </tbody>
</table>