<!-- The member list of IBPSA-China -->

<div class="row">
    <div class="col-6 pe-2 text-end">
        <ul class="list-unstyled">
            <li><span class="badge badge-secondary badge-xs">Chair</span> Prof. Da Yan</li>
            <li><span class="badge badge-secondary badge-xs">Chair</span> Prof. Yiqun Pan</li>
            <li>Prof. Yi Jiang</li>
            <li>Prof. Yingxin Zhu</li>
            <li>Prof. Jing Liu</li>
            <li>Prof. Youming Chen</li>
            <li>Prof. Hui Zhou</li>
            <li>Prof. Jianlei Niu</li>
            <li><span class="badge badge-secondary badge-xs">Secretary</span> Dr. Chuang Wang</li>
        </ul>
    </div>
    <div class="col-6 ps-2">
        <ul class="list-unstyled">
            <li>Tsinghua University</li>
            <li>Tongji University</li>
            <li>Tsinghua University</li>
            <li>Tsinghua University</li>
            <li>Harbin Institute of Technology</li>
            <li>Hunan University</li>
            <li>China Academy of Building Research</li>
            <li>Hongkong Polytechnic University</li>
            <li>Tsinghua University</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-8 order-2">
        <div class="overflow-hidden">
            <h2 class="text-color-dark font-weight-semibold text-8 mb-0">Xiang Zhou</h2>
        </div>
        <div class="overflow-hidden">
            <p class="text-primary text-4">Secretary General</p>
        </div>
        <p>Associate Professor. Vice Dean of HVAC institute, College of Mechanical Engineering, Tongji University, Shanghai, China. </br>
        Dr. Xiang Zhou got his Bachelor, Master and Ph.D. degree in Tsinghua University from 1998 to 2008. He is the deputy secretary general of Shanghai Society of Refrigeration (SSR). And he was the secretary and volunteer of International Building Performance Simulation Conference (<strong>BS2007</strong>) in 2007. </br>
        Dr. Xiang Zhou’s research interests focus on human thermal comfort and behavior, radiant air-conditioning system, GSHP (Ground source heat pump) system. He is project leader of several research projects, including National Natural Science Foundation of China (NSFC), Specialized Research Fund for the Doctoral Program of Higher Education, the China National Key R&D Program during the 13th Five-year Plan Period, etc. He also attended some international cooperation projects with IVL (Sweden), VTT (Finland), UC Berkeley (U.S.), etc. He has published about 20 articles and papers, compiled 2 books and 6 patents.</p>
    </div>

    <div class="col-md-4 order-md-2 mb-4 mb-lg-0">
        <div class="mt-1 mb-3">
            <img src="static/img/xiangzhou.webp" class="img-fluid" alt="Xiang Zhou">
        </div>
    </div>
</div>

<tr>
    <td>Prof. Yi Jiang</td>
    <td>Tsinghua University, China</td>
</tr>
<tr>
    <td>Prof. Jiaping Liu</td>
    <td>Xian University of Architectural and Technology, China</td>
</tr>
<tr>
    <td>Prof. Yingxin Zhu</td>
    <td>Tsinghua University, China</td>
</tr>
<tr>
    <td>Prof. Xu Zhang</td>
    <td>Tongji University, China</td>
</tr>
<tr>
    <td>Prof. Zhiwei Lian</td>
    <td>Shanghai Jiaotong University, China</td>
</tr>
<tr>
    <td>Prof. Shengwei Wang</td>
    <td>The Hong Kong Polytechinic University, China</td>
</tr>
<tr>
    <td>Prof. Qingyan Chen</td>
    <td>Purdue University, USA</td>
</tr>
<tr>
    <td>Prof. Jianlei Niu</td>
    <td>The Hong Kong Polytechnic University, China</td>
</tr>
<tr>
    <td>Prof. Junyue Yan</td>
    <td>Malardalen University, Sweden</td>
</tr>
<tr>
    <td>Prof. Baizhan Li</td>
    <td>Chongqing University, China</td>
</tr>
<tr>
    <td>Prof. Jian Ge</td>
    <td>Zhejiang University, China</td>
</tr>
<tr>
    <td>Prof. Bin Chen</td>
    <td>Dalian University of Technology</td>
</tr>
<tr>
    <td>Prof. Liu Yang</td>
    <td>Xian University of Architecture and Technology, China</td>
</tr>
<tr>
    <td>Prof. Yi Wang</td>
    <td>Xian University of Architecture and Technology, China</td>
</tr>
<tr>
    <td>Prof. Yanfeng Liu</td>
    <td>Xian University of Architecture and Technology, China</td>
</tr>
<tr>
    <td>Prof. Xianting Li</td>
    <td>Tsinghua University, China</td>
</tr>
<tr>
    <td>Prof. Xudong Yang</td>
    <td>Tsinghua University, China</td>
</tr>