<!-- The member list of IBPSA-China -->

<div class="row">
    <div class="col-6 pe-2 text-end">
        <ul class="list-unstyled">
            <li><span class="badge badge-secondary badge-xs">Chair</span> Prof. Da Yan</li>
            <li><span class="badge badge-secondary badge-xs">Chair</span> Prof. Yiqun Pan</li>
            <li>Prof. Yi Jiang</li>
            <li>Prof. Yingxin Zhu</li>
            <li>Prof. Jing Liu</li>
            <li>Prof. Youming Chen</li>
            <li>Prof. Hui Zhou</li>
            <li>Prof. Jianlei Niu</li>
            <li><span class="badge badge-secondary badge-xs">Secretary</span> Dr. Chuang Wang</li>
        </ul>
    </div>
    <div class="col-6 ps-2">
        <ul class="list-unstyled">
            <li>Tsinghua University</li>
            <li>Tongji University</li>
            <li>Tsinghua University</li>
            <li>Tsinghua University</li>
            <li>Harbin Institute of Technology</li>
            <li>Hunan University</li>
            <li>China Academy of Building Research</li>
            <li>Hongkong Polytechnic University</li>
            <li>Tsinghua University</li>
        </ul>
    </div>
</div>