<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">   

        <title>{% block title %}{% endblock %} - BS2023</title>

        <meta name="keywords" content="BS2023, IBPSA, Building simulation, Shanghai, China, Paper, Abstract, Conference, Tongji University" />
        <meta name="description" content="The 18th International Conference and Exhibition, Building Simulation 2023" />
        <meta name="author" content="IBPSA-China" />
        <meta name="baidu-site-verification" content="code-YkUagjQXyK" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

        <!-- Web Fonts  -->
        <link id="googleFonts" href="{{ url_for('static', filename='css/font.css') }}" rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/owl.carousel/assets/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/owl.carousel/assets/owl.theme.default.min.css') }}">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-v1.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-elements-v1.css') }}">

        <!-- Skin CSS -->
        <link id="skinCSS" rel="stylesheet" href="{{ url_for('static', filename='css/skin-default-v1.css') }}">

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-v5.css') }}">

        <!-- Current Page CSS -->
        {% block styles %}{% endblock %}

        <!-- Torrent Monitor -->
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?de816fb47addf69a2f2ca18fedb35a21";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </head>

    <body data-plugin-page-transition>

        <div class="overlay"></div>

        <div class="wrapper">
            <div id="sidebar" class="d-flex align-items-start flex-column">

                <div style="height:70px;">
                </div>

                <div class="accordion accordion-flush sidebar-menu row" id="nav-sidebar">
                    <div class="accordion-item">
                        <span class="accordion-header"><button class="accordion-button collapsed" type="button" onclick="location.href='{{ url_for('index') }}'">HOME</button></span>
                    </div>
                    <div class="accordion-item">
                        <span class="accordion-header" id="menu-signup-head">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-signup" aria-expanded="false" aria-controls="menu-signup">
                            SIGN-UP
                            </button>
                        </span>
                        <div id="menu-signup" class="accordion-collapse collapse" aria-labelledby="menu-signup-head" data-bs-parent="#nav-sidebar">
                            <div class="accordion-body">
                                <ul class="list-unstyled">
                                    <a href="{{ url_for('timeline') }}"><li class="accessible">Timeline</li></a>
                                    <a href="{{ url_for('submit') }}"><li class="accessible"><strong>Submission</strong></li></a>
                                    <a href="{{ url_for('registration') }}"><li class="accessible">Registration</li></a>
                                    <a href="{{ url_for('publication') }}"><li class="accessible">Publication</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <span class="accordion-header" id="menu-program-head">
                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#menu-program" aria-expanded="false" aria-controls="menu-program">
                            PROGRAM
                            </button>
                        </span>
                        <div id="menu-program" class="accordion-collapse collapse" aria-labelledby="menu-program-head" data-bs-parent="#nav-sidebar">
                            <div class="accordion-body">
                                <ul class="list-unstyled">
                                    <a href="{{ url_for('theme') }}"><li class="accessible">Themes</li></a>
                                    <a href="{{ url_for('program') }}"><li>Program Book</li></a>
                                    <a href="{{ url_for('keynote') }}"><li>Keynotes</li></a>
                                    <a href="{{ url_for('invited') }}"><li><b>Invited Speech</b></li></a>
                                    <a href="{{ url_for('workshop') }}"><li><b>Workshops</b></li></a>
                                    <a href="{{ url_for('techtour') }}"><li>Technical Tours</li></a>
                                    <a href="{{ url_for('competition') }}"><li>Student Competition</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <span class="accordion-header" id="menu-events-head">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-events" aria-expanded="false" aria-controls="menu-events">
                            EVENTS
                            </button>
                        </span>
                        <div id="menu-events" class="accordion-collapse collapse" aria-labelledby="menu-events-head" data-bs-parent="#nav-sidebar">
                            <div class="accordion-body">
                                <ul class="list-unstyled">
                                    <a href="{{ url_for('virtual') }}"><li>Virtual Session</li></a>
                                    <a href="{{ url_for('awards') }}"><li class="accessible">Awards</li></a>
                                    <a href="{{ url_for('rivercruise') }}"><li><b>River Cruise (HDY Night)</b></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <span class="accordion-header" id="menu-guide-head">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-guide" aria-expanded="false" aria-controls="menu-guide">
                            GUIDE
                            </button>
                        </span>
                        <div id="menu-guide" class="accordion-collapse collapse" aria-labelledby="menu-guide-head" data-bs-parent="#nav-sidebar">
                            <div class="accordion-body">
                                <ul class="list-unstyled">
                                    <li><a>Meet Shanghai! (WIP)</a></li>
                                    <a href="{{ url_for('venue') }}"><li class="accessible">Venue</li></a>
                                    <a href="{{ url_for('accommodation') }}"><li class="accessible">Accommodation</li></a>
                                    <li><a>Traveling (WIP)</a></li>
                                    <a href="{{ url_for('visa') }}"><li class="accessible">VISA Policy</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <span class="accordion-header" id="menu-sponsor-head">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-sponsor" aria-expanded="false" aria-controls="menu-sponsor">
                            SPONSOR
                            </button>
                        </span>
                        <div id="menu-sponsor" class="accordion-collapse collapse" aria-labelledby="menu-sponsor-head" data-bs-parent="#nav-sidebar">
                            <div class="accordion-body">
                                <ul class="list-unstyled">
                                    <a href="{{ url_for('sponsors') }}"><li class="accessible">Our Sponsors</li></a>
                                    <a href="{{ url_for('contribute') }}"><li class="accessible">Become a Sponsor</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <span class="accordion-header" id="menu-about-head">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-about" aria-expanded="false" aria-controls="menu-about">
                            ABOUT
                            </button>
                        </span>
                        <div id="menu-about" class="accordion-collapse collapse" aria-labelledby="menu-about-head" data-bs-parent="#nav-sidebar">
                            <div class="accordion-body">
                                <ul class="list-unstyled">
                                    <a href="{{ url_for('ibpsa') }}"><li class="accessible">IBPSA</li></a>
                                    <a href="{{ url_for('committee') }}"><li class="accessible">Committee</li></a>
                                    <a href="{{ url_for('reviewer') }}"><li class="accessible">Reviewers</li></a>
                                    <a href="{{ url_for('newsletter', news_id=20220407) }}"><li class="accessible">Newsletter</li></a>
                                    <a href="{{ url_for('contact') }}"><li class="accessible">Contact / FAQ</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body">
                <header id="header" class="header-effect-shrink">
                    <div class="header-body border-top-0 box-shadow-none">
                        <div class="header-container header-container-md container">
                            <div class="header-row">
                                <div class="header-column">
                                    <div class="header-row">
                                        <div class="header-logo">
                                            <img alt="BS2023" width="100" height="40" data-sticky-width="82" data-sticky-height="40" data-sticky-top="0" src="{{ url_for('static', filename='img/title.svg') }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="header-column justify-content-end">
                                    <div class="header-row">
                                        <div class="header-nav header-nav-line header-nav-bottom-line header-nav-bottom-line-no-transform header-nav-bottom-line-active-text-light header-nav-bottom-line-effect-1 order-2 order-lg-1">
                                            <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders 
                                            header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                                <nav class="collapse">
                                                    <ul class="nav nav-pills" id="mainNav">
                                                        <li><a class="dropdown-item dropdown-toggle" href="{{ url_for('index') }}">Home</a></li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item dropdown-toggle" href="#">Sign-up</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="{{ url_for('timeline') }}">Timeline</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('submit') }}"><strong>Submission</strong></a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('registration') }}">Registration</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('publication') }}">Publication</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item dropdown-toggle" href="#">Program</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="{{ url_for('theme') }}">Themes</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('program') }}">Program Book</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('keynote') }}">Keynotes</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('invited') }}"><b>Invited Speech</b></a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('workshop') }}"><b>Workshops</b></a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('techtour') }}">Technical Tours</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('competition') }}">Student Competition</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item dropdown-toggle" href="#">Events</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="{{ url_for('virtual') }}">Virtual Session</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('awards') }}">Awards</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('rivercruise') }}"><b>River Cruise (HDY Night)</b></a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item dropdown-toggle" href="#">Guide</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item">Meet Shanghai! (WIP)</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('venue') }}">Venue</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('accommodation') }}">Accommodation</a></li>
                                                                <li><a class="dropdown-item">Traveling (WIP)</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('visa') }}">VISA Policy</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item dropdown-toggle" href="#">Sponsor</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="{{ url_for('sponsors') }}">Our Sponsors</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('contribute') }}">Become a Sponsor</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item dropdown-toggle" href="#">About</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="{{ url_for('ibpsa') }}">IBPSA</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('committee') }}">Committee</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('reviewer') }}">Reviewers</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('newsletter', news_id=20220407) }}">Newsletter</a></li>
                                                                <li><a class="dropdown-item" href="{{ url_for('contact') }}">Contact / FAQ</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <!-- <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                                <i class="fas fa-bars"></i>
                                            </button> -->
                                            <button id="sidebarCollapse" class="btn header-btn-collapse-nav" onclick="toggleSidebar()">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div role="main" class="main">

                {% block content %}{% endblock %} 

                <footer id="footer">
                    <div class="footer-copyright">
                        <div class="container">
                            <div class="row py-4">
                                <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                                    <img alt="IBPSA" src="{{ url_for('static', filename='img/ibpsa-white.svg') }}" height="64">
                                </div>
                                <div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                                    <p><strong>IBPSA-China</strong> © Copyright 2023. All Rights Reserved.</p>
                                </div>
                                <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end"><!-- 
                                    <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=Pxd2LtGqqHYSwt0iew9iZ7KUk4p5ZQtTZ3LS4tKvgGHivu1OwNQWctrbE0xJ"></script></span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
        </div>

        

        <!-- Vendor -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/jquery.easing/jquery.easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/jquery.validation/jquery.validate.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/owl.carousel/owl.carousel.min.js') }}"></script>

        <!-- Theme Base, Components and Settings -->
        <script src="{{ url_for('static', filename='js/theme-v1.js') }}"></script>

        <!-- Theme Custom -->
        <!-- <script src="{{ url_for('static', filename='js/custom.js') }}"></script> -->

        <!-- Theme Initialization Files -->
        <script src="{{ url_for('static', filename='js/theme.init.js') }}"></script>

        <!-- bootstrap sidebar settings -->
        <script type="text/javascript">
        function toggleSidebar() {
            $('#sidebar').toggleClass('active');
            $('.overlay').toggleClass('active');
        }

        $(document).ready(function () {
            $('.overlay').on('click', function () {
                // hide sidebar
                $('#sidebar').removeClass('active');
                // hide overlay
                $('.overlay').removeClass('active');
            });
        });
        </script>

        <!-- fade out flashing messages  -->
        
        <!-- <script type="text/javascript">
            $('.alert').delay(5000).slideUp(500);
        </script> -->
    

        <!-- Page Custom Scripts -->
        {% block scripts %}{% endblock %}

    </body>
</html>