{% extends 'base.html' %}
{% block title %}Committee{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Meet the <strong>Team</strong></h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>About</li>
                    <li class="active">Committee</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container py-4">

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4 mb-lg-0">
            <div class="mt-1 mb-3">
                <img src="static/img/yiqunpan.webp" class="img-fluid" alt="Yiqun Pan">
            </div>
            <hr class="solid my-2">
            <div class="row">
                <div class="text-lg-end my-lg-0">
                    <strong class="text-uppercase text-1 me-3 text-dark">follow me</strong>
                    <ul class="social-icons social-icons-circle float-lg-end">
                        <li class="social-icons-facebook"><a href="https://bsim.tongji.edu.cn/English_home/Home.htm" target="_blank" title="Website"><i class="fa fa-globe"></i></a></li>
                        <li class="social-icons-googleplus"><a href="https://scholar.google.com/citations?user=RWg3m7MAAAAJ&hl=en&oi=ao" target="_blank" title="Google Scholar"><i class="fa fa-graduation-cap"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8 order-2">
            <div class="overflow-hidden">
                <h2 class="text-color-dark font-weight-semibold text-8 mb-0">Yiqun Pan</h2>
            </div>
            <div class="overflow-hidden">
                <p class="text-primary text-4">Conference Chair</p>
            </div>
            <p>IBPSA-China co-Chair, IBPSA Fellow. Full professor in the School of Mechanical Engineering, Tongji University, China.<br>
            Prof. Yiqun Pan has spent around 20 years researching and teaching in the fields of building performance simulation, green building technologies and community energy planning. <br>
            She is the fellow of IBPSA. At IBPSA, she has served as Member of the Editorial Board of Journal of Building Performance Simulation since 2013 and Member of Education Committee since 2017. At IBPSA-China, she has been Member of Board of Directors since 2012, and also the co-chair. In 2012, she served as the chair of the 1st Asia conference of IBPSA (<strong>ASim2012</strong>) hosted at Shanghai, China and the Vice-President of the Chinese Society of HVAC Simulation Special Committee.<br>
            She is the author of five books as first/chief author and over 110 scientific journal papers, leading the development of a co-simulation model of occupant behavior, IAQ and building energy – subtask 2 of the kernel development of whole building performance simulation platform (China National KeyR&D Plan).</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="solid my-5">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 order-2">
            <div class="overflow-hidden">
                <h2 class="text-color-dark font-weight-semibold text-8 mb-0">Da Yan</h2>
            </div>
            <div class="overflow-hidden">
                <p class="text-primary text-4">Conference Co-chair</p>
            </div>
            <p>IBPSA-China Chair, IBPSA Fellow. Tenured associate Professor in School of Architecture, Tsinghua University, China.<br>
            His research mainly focuses on energy efficiency of buildings including human energy-related behavior modeling and simulation in buildings, DeST research and development, building energy code and standards, and national building energy and policy study. Author of over 10 books and over 100 journal papers.<br>
            Since 2000, he devoted his effort into the development of the building energy simulation tool <strong>DeST</strong> (Designer’s Simulation Tool); In 2007, he is the secretary-general of International Building Performance Simulation Conference (<strong>BS2007</strong>), Beijing; In 2008, he won second national prize for scientific and technological progress of China; He is the operating agent of IEA EBC Annex 66 with more than 100 participants from more than 20 countries; Since 2016, he is the president of Association of Simulation in Heating and air conditioning of China, the co-chair of ASHRAE MTG.OBB and the associate editor of International Journal of Building Simulation.</p>
        </div>

        <div class="col-md-4 order-md-2 mb-4 mb-lg-0">
            <div class="mt-1 mb-3">
                <img src="static/img/dayan.webp" class="img-fluid" alt="Da Yan">
            </div>
            <hr class="solid my-2">
            <div class="row">
                <div class="text-lg-end my-lg-0">
                    <strong class="text-uppercase text-1 me-3 text-dark">follow me</strong>
                    <ul class="social-icons social-icons-circle float-lg-end">
                        <li class="social-icons-facebook"><a href="http://www.arch.tsinghua.edu.cn/info/rw_jzhj/1468" target="_blank" title="Website"><i class="fa fa-globe"></i></a></li>
                        <li class="social-icons-googleplus"><a href="https://scholar.google.com/citations?user=uEYEo18AAAAJ&hl=en&oi=ao" target="_blank" title="Google Scholar"><i class="fa fa-graduation-cap"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="solid my-5">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4 mb-lg-0">
            <div class="mt-1 mb-3">
                <img src="static/img/boronglin.webp" class="img-fluid" alt="Borong Lin">
            </div>
        </div>

        <div class="col-md-8 order-2">
            <div class="overflow-hidden">
                <h2 class="text-color-dark font-weight-semibold text-8 mb-0">Borong Lin</h2>
            </div>
            <div class="overflow-hidden">
                <p class="text-primary text-4">Scientific Chair</p>
            </div>
            <p>Borong Lin is the Professor and Deputy Dean of the School of Architecture at Tsinghua University. He also serves as the Dean of Key Laboratory of Eco Planning & Green Building commissioned by the Ministry of Education, and the Fellow of IBPSA (International Building Performance Simulation Association). Prof. Lin was awarded the National Changjiang Scholar and 2020 Xplorer Prize. Also, he is the winner of The National Science Fund for Distinguished Young Scholars.  <br>
            Prof. Lin’s research focuses on the technology innovation to improve built environment quality and to enhance energy efficiency and carbon neutrality. As PI, Prof. Lin won the National Science and Technology Progress Award and several technical innovation awards. Prof. Lin has published over 100 SCI journal papers, Google H-index 38. He is the editorial member of 5 international peer reviewed journals.</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="solid my-5">
        </div>
    </div>

    <p class="text-color-dark text-5"><strong>Scientific committee</strong> (proposed)</p>

    <div class="row mt-4 pt-2">

        <div class="col-lg-5">
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4 mb-lg-0">
                    <div class="mb-3">
                        <img src="static/img/boronglin.webp" class="img-fluid" alt="Borong Lin">
                    </div>
                </div>

                <div class="col-md-8 order-2">
                    <h4 class="text-color-dark font-weight-semibold">Borong Lin</h4>
                    <p>Chair<br>
                    Tsinghua University, China</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4 mb-lg-0">
                    <div class="mb-3">
                        <img src="static/img/jungao.webp" class="img-fluid" alt="Jun Gao">
                    </div>
                </div>

                <div class="col-md-8 order-2">
                    <h4 class="text-color-dark font-weight-semibold">Jun Gao</h4>
                    <p>Co-Chair<br>
                    Tongji University, China</p>
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <table class="committee-list">
                <tr>
                    <td>Prof. Wangda Zuo</td>
                    <td>Penn State University, USA</td>
                </tr>
                <tr>
                    <td>Dr. Michael Wetter</td>
                    <td>Lawrence Berkeley National Laboratory, USA</td>
                </tr>
                <tr>
                    <td>Dr. Drury Crawley</td>
                    <td>Bentley Systems, USA</td>
                </tr>
                <tr>
                    <td>Prof. Panagiota Karava</td>
                    <td>Purdue University, USA</td>
                </tr>
                <tr>
                    <td>Dr. Tianzhen Hong</td>
                    <td>Lawrence Berkeley National Laboratory, USA</td>
                </tr>
                <tr>
                    <td>Prof. Zheng O'Neill</td>
                    <td>Texas A&M University, USA</td>
                </tr>
                <tr>
                    <td>Prof. Zhai Zhiqiang</td>
                    <td>University of Colorado at Boulder, USA</td>
                </tr>
                <tr>
                    <td>Prof. Bing Dong</td>
                    <td>Syracuse University, USA</td>
                </tr>
                <tr>
                    <td>Prof. Jan Hensen</td>
                    <td>Eindhoven University of Technology, Netherlands</td>
                </tr>
                <tr>
                    <td>Dr. Wim Plokker</td>
                    <td>Vabi Software B.V., Netherlands</td>
                </tr>
                <tr>
                    <td>Prof. Bert Blocken</td>
                    <td>Eindhoven University of Technology, Netherlands</td>
                </tr>
                <tr>
                    <td>Prof. Jyotirmay Mathur</td>
                    <td>Malaviya National Institute of Technology, India</td>
                </tr>
                <tr>
                    <td>Prof. Christoph van Treeck</td>
                    <td>RWTH Aachen University, Germany</td>
                </tr>
                <tr>
                    <td>Prof. Dirk Müller</td>
                    <td>RWTH Aachen University, Germany</td>
                </tr>
                <tr>
                    <td>Prof. Monika Woloszyn</td>
                    <td>Université Savoie Mont Blanc, France</td>
                </tr>
                <tr>
                    <td>Prof. Yoshiyuki Shimoda</td>
                    <td>Osaka University, Japan</td>
                </tr>
                <tr>
                    <td>Prof. Cheol-Soo Park</td>
                    <td>Seoul National University, South Korea</td>
                </tr>
            </table>
            <div style="margin-top: -10px; text-align: right;" >
                <input type="button" id="showButton" onclick="displayMore()" value="Show more" style="background: #ffffff; border: none;" />
            </div>
            <table class="committee-list" id="moreMember" style="display: none;">
                <tr>
                    <td>Prof. Ian Beausoleil-Morrison</td>
                    <td>Carleton University, Canada</td>
                </tr>
                <tr>
                    <td>Prof. Andreas Athienitis</td>
                    <td>Concordia University, Canada</td>
                </tr>
                <tr>
                    <td>Prof. Liangzhu Wang</td>
                    <td>Concordia University, Canada</td>
                </tr>
                <tr>
                    <td>Prof. Umberto Berardi</td>
                    <td>Ryerson University, Canada</td>
                </tr>
                <tr>
                    <td>Prof. Michael Kummert</td>
                    <td>Polytechnique Montréal, Canada</td>
                </tr>
                <tr>
                    <td>Prof. Bin Zhao</td>
                    <td>Tsinghua University, China</td>
                </tr>
                <tr>
                    <td>Prof. Yixing Chen</td>
                    <td>Hunan University, China</td>
                </tr>
                <tr>
                    <td>Prof. Youming Chen</td>
                    <td>Hunan University, China</td>
                </tr>
                <tr>
                    <td>Prof. Zhengrong Li</td>
                    <td>Tongji University, China</td>
                </tr>
                <tr>
                    <td>Prof. Zhe Tian</td>
                    <td>Tianjin University, China</td>
                </tr>
                <tr>
                    <td>Prof. Wei Tian</td>
                    <td>Tianjin University of Science and Technology, China</td>
                </tr>
                <tr>
                    <td>Prof. Gongsheng Huang</td>
                    <td>City University of Hong Kong, China</td>
                </tr>
                <tr>
                    <td>Prof. Huijun Wu</td>
                    <td>Guangzhou University, China</td>
                </tr>
                <tr>
                    <td>Prof. Adrian Chong</td>
                    <td>National University of Singapore, Singapore</td>
                </tr>
                <tr>
                    <td>Prof. Gülsu Ulukavak Harputlugil</td>
                    <td>Cankaya University, Türkiye</td>
                </tr>
                <tr>
                    <td>Prof. Roberto Lamberts</td>
                    <td>Federal University of Santa Catarina, Brazil</td>
                </tr>
                <tr>
                    <td>Prof. Lieve Helsen</td>
                    <td>KU Leuven, Belgium</td>
                </tr>
                <tr>
                    <td>Prof. Dirk Saelens</td>
                    <td>KU Leuven, Belgium</td>
                </tr>
                <tr>
                    <td>Prof. Veronica Soebarto</td>
                    <td>University of Adelaide, Australia</td>
                </tr>
                <tr>
                    <td>Prof. Ardeshir Mahdavi</td>
                    <td>TU Wien, Austria</td>
                </tr>
                <tr>
                    <td>Prof. Christina Hopfe</td>
                    <td>TU Graz, Austria</td>
                </tr>
                <tr>
                    <td>Prof. Paul Strachan</td>
                    <td>University of Strathclyde, UK</td>
                </tr>
                <tr>
                    <td>Dr. Ruchi Choudhary</td>
                    <td>University of Cambridge, UK</td>
                </tr>
                <tr>
                    <td>Prof. Pieter de Wilde</td>
                    <td>University of Strathclyde, UK</td>
                </tr>
                <tr>
                    <td>Prof. Claire Bleil de Souza</td>
                    <td>Cardiff University, UK</td>
                </tr>
                <tr>
                    <td>Prof. Dejan Mumovic</td>
                    <td>University College London, UK</td>
                </tr>
                <tr>
                    <td>Prof. Yupeng Wu</td>
                    <td>The University of Nottingham, UK</td>
                </tr>
                <tr>
                    <td>Prof. Vincenzo Corrado</td>
                    <td>Politecnico di Torino, Italy</td>
                </tr>
                <tr>
                    <td>Prof. Andrea Gasparella</td>
                    <td>Free University of Bozen-Bolzano, Italy</td>
                </tr>
                <tr>
                    <td>Prof. Anna Laura Pisello</td>
                    <td>University of Perugia, Italy</td>
                </tr>
                <tr>
                    <td>Prof. Matthias Haase</td>
                    <td>NTNU, Norway</td>
                </tr>
                <tr>
                    <td>Prof. Xingxing Zhang</td>
                    <td>Dalarna University, Sweden</td>
                </tr>


            </table>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <hr class="solid my-5">
        </div>
    </div>

    <p class="text-color-dark text-5"><strong>Organization committee</strong></p>

    <div class="row mt-4 pt-2">

        <div class="col-lg-5">
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4 mb-lg-0">
                    <div class="mb-3">
                        <img src="static/img/fuxiao.webp" class="img-fluid" alt="Fu Xiao">
                    </div>
                </div>

                <div class="col-md-8 order-2">
                    <h4 class="text-color-dark font-weight-semibold">Fu Xiao</h4>
                    <p>Publication Committee Chair<br>
                    The Hong Kong Polytechnic University, China</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4 mb-lg-0">
                    <div class="mb-3">
                        <img src="static/img/xinzhou.webp" class="img-fluid" alt="Xin Zhou">
                    </div>
                </div>

                <div class="col-md-8 order-2">
                    <h4 class="text-color-dark font-weight-semibold">Xin Zhou</h4>
                    <p>Student Competition<br>
                    Southeast University, China</p>
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <table class="committee-list">
                <tr>
                    <td>Prof. Yanping Yuan</td>
                    <td>Southwest Jiaotong University, China</td>
                </tr>
                <tr>
                    <td>Prof. Naiping Gao</td>
                    <td>Tongji University, China</td>
                </tr>
                <tr>
                    <td>Prof. Peng Xu</td>
                    <td>Tongji University, China</td>
                </tr>
                <tr>
                    <td>Prof. Xiang Zhou</td>
                    <td>Tongji University, China</td>
                </tr>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="solid my-5">
        </div>
    </div>

    <p class="text-color-dark text-5"><strong>Advisory board</strong> 🎓 (updating)</p>
    <p>We thank all reviewers contributing to this event! </p>

    <div class="row">
        <div class="col">
            <hr class="solid my-5">
        </div>
    </div>

    <p class="text-color-dark text-5"><strong>Staff & Volunteers</strong> 🙌 (updating)</p>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function displayMore() {
        var x = document.getElementById("moreMember");
        var y = document.getElementById("showButton")
        if (x.style.display === "none") {
            x.style.display = "block";
            y.value = "Show less";
        } else {
            x.style.display = "none";
            y.value = "Show more";
        }
    }
</script>
{% endblock %}
