{% extends 'base.html' %}
{% block title %}Contribute{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Become a <strong>Sponsor</strong></h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Sponsor</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container py-2">
    <div class="row">
        <p class="text-4 mb-3">IBPSA as an association deals with qualitatively predicting performances (e.g. energy use, comfort, noise, indoor air quality, environmental impact, financial costs) of machines, processes, concepts, human activities, … in the built environment. It is a community (over 4000 members) of academics, PhD students, engineers and a growing share of practitioners in the sector, with affiliates in 30 countries worldwide.</p>
        <p class="text-4 mb-3">In preparation for the next biennial event to come, a dynamic team chaired by prof. Yiqun Pan (Tongji University) and prof. Da Yan (Tsinghua University) is working closely to make the BS2023 a success (meet core members: <a href="#">Committee</a>). In a crucial time the world recovering from the COVID-19, we have the best optimism to expect over 1000 participants from both academy and industry. Along the preparation phase, we send you a warm welcome to join us, as a great chance to boost industry cooperation and brand your strength along with the ever growing community.</p>
        <p class="text-4 mb-5">Some temperal sponsor packages are listed below (sponsorship fee pending), which are still evolving according to your valuable suggestions. We would like to invite all potential sponsors to join the committee board and explore the best way to cooperate. Currently, the planned advertising includes many kinds of media online/offline, paper/virtual, with a long-term promotion and wide visibility. Please contact us if interested: <a href="mailto:sponsor@bs2023.org">sponsor@bs2023.org</a>. </p>

        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>SPONSOR </th>
                        <th>PLATINUM</th>
                        <th>GOLD</th>
                        <th>SILVER</th>
                        <th>BRONZE</th>
                        <th>EXIBITOR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Sponsor fee</strong> coming soon...</td>
                        <td>?</td>
                        <td>?</td>
                        <td>?</td>
                        <td>?</td>
                        <td>?</td>
                    </tr>
                    <tr style="background-color:#f5f5f5">
                        <td colspan="6" align="center">Enrollment</td>
                    </tr>
                    <tr>
                        <td>Exhibition booth</td>
                        <td>4</td>
                        <td>4</td>
                        <td>2</td>
                        <td>2</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Co-chair on workshop session</td>
                        <td>1</td>
                        <td>1/2</td>
                        <td>1/4</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Full event pass</td>
                        <td>5</td>
                        <td>3</td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>As committee members*</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background-color:#f5f5f5">
                        <td colspan="6" align="center">Onsite marketing</td>
                    </tr>
                    <tr>
                        <td>5 min reception speech</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5 min banquet speech</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Slide slot during opening & closing</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1/4</td>
                        <td>1/4</td>
                        <td>1/8</td>
                    </tr>
                    <tr>
                        <td>1 min video advertising during plenary session</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Collective thanks in sponsor slide during plenary session</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Logo on event signage (guides/dinner/coffee break)</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Logo banner in conference venue</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background-color:#f5f5f5">
                        <td colspan="6" align="center">Online material</td>
                    </tr>
                    <tr>
                        <td>Logo on website (with link to website)</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                    </tr>
                    <tr>
                        <td>Logo on program book / venue guide</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                    </tr>
                    <tr>
                        <td>Carousel slot (with briefings) on <a href="#">sponsor</a> page</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Logo on mobile app*</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background-color:#f5f5f5">
                        <td colspan="6" align="center">Communications</td>
                    </tr>
                    <tr>
                        <td>Logo in all pre-event emails</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                    </tr>
                    <tr>
                        <td>Logo in post-event emails</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Announcement in pre-event email</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Shout outs through all socail channels</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                        <td>〇</td>
                    </tr>
                    <tr>
                        <td>Access to press attendee list*</td>
                        <td>〇</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}