{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark"><strong>Contact</strong> / FAQ</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>About</li>
                    <li class="active">Contact</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container py-4">

    <div class="row">
        <p class="text-4">Please check the following frequently asked questions for quick answers. If you have any doubts, please contact us without hesitation. We will replay to you as soon as possible.</p>

        <div class="toggle toggle-primary m-0" data-plugin-toggle>
            <section class="toggle">
                <a class="toggle-title">What is the conference mode, in-person/virtual/hybrid?</a>
                <div class="toggle-content">
                    <p>The BS2023 will be in <b>Hybrid</b> mode. You may participate in person or via our conference platform virtually. We come to this decision considering your utmost convenience and any uncertainties of the COVID policy. Since <b>China has lifted all travel restrictions and quarantines</b>, BS2023 will focus on the experience of a physical meeting, while keeping online participants wired in. If it is difficult for you to travel, please keep in mind that we will ensure the publication of your accepted work and the seamless experience of a hybrid BS2023. You may flexibly switch your registration type (in-person/virtual) before August 25, 2023.</p>
                </div>
            </section>

            <section class="toggle">
                <a class="toggle-title">What is the quarantine policy in Shanghai?</a>
                <div class="toggle-content">
                    <p>China has lifted all travel restrictions and quarantines since January 8th. Please refer to <a href="{{ url_for('visa') }}" target="_blank">Visa Policy</a> page or the <a href="http://www.china-embassy.org/eng/lsfw/sjc1/zytz_120351/202203/t20220307_10648507.htm" target="_blank">PRC Embassy</a> website for the updated information.</p>
                </div>
            </section>

            <section class="toggle">
                <a class="toggle-title">...</a>
            </section>
        </div>
    </div>
</div>

<hr class="solid my-3">

<div class="container">
    <div class="row py-4">
        <div class="col-lg-6">
            <h4 class="mt-2 mb-1">Contact</h4>
            <div class="row">
                <div class="col-md-6"> 
                    <ul class="list list-icons list-icons-style-2 mt-2">
                        <li><i class="fas fa-map-marker-alt"></i>1239 Siping Road, Shanghai, China</li>
                        <li><i class="fas fa-envelope"></i>
                            <a href="mailto:info@bs2023.org">info@bs2023.org</a><br>
                            <a href="mailto:sponsor@bs2023.org">sponsor@bs2023.org</a><br>
                            <a href="mailto:student@bs2023.org">student@bs2023.org</a>
                        </li>
                        <li><i class="fab fa-facebook-f"></i><a href="https://www.facebook.com/Building-Simulation-2023-104965802024385" target="_blank">@bs2023</a></li>
                        <li><i class="fab fa-twitter"></i><a href="https://twitter.com/BS2023Shanghai" target="_blank">@BS2023Shanghai</a></li>
                        <li><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/company/77680241/" target="_blank">@bs2023</a></li>
                        <li><i class="fab fa-weixin"></i><a href="" id="button" aria-describedby="tooltip">@IBPSA_CHINA</a>
                            <div id="tooltip" role="tooltip">
                                <img src="static/img/code.jpg" style="width: 100px;">
                                <div id="arrow" data-popper-arrow></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6" style="text-align:center;">
                    <p>Scan the QR code and join the conference WeChat group!</p>
                    <img src="{{ url_for('static', filename='img/wechat_qr.jpg')}}" width="200px" />
                </div>
            </div>
            
            <div class="row">
                <h4 class="mt-4 mb-2">Working hours</h4>
                <p class="mb-0 text-3">AM 2:00-5:00 GMT+8, workdays. Please whitelist info@bs2023.org to make sure our newsletter won't be blocked.😀</p>
            </div>
        </div>

        <div id="messageBox" class="col-lg-6">
            <h4 class="mt-2 mb-1">Leave a message</h4>
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div>
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert" id="faded">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <form class="contact-form" action="{{ url_for('contact') }}" method="POST">
                {{ form.hidden_tag() }}

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="form-label mb-1 text-2">First Name</label>
                        {{ form.firstname(type="text", maxlength="100", class="form-control text-3 h-auto py-2") }}
                        <!-- <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control text-3 h-auto py-2" name="name" required> -->
                        {% for error in form.firstname.errors %}
                        <small class="error-bullet">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="form-label mb-1 text-2">Last Name</label>
                        {{ form.lastname(type="text", maxlength="100", class="form-control text-3 h-auto py-2") }}
                        <!-- <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control text-3 h-auto py-2" name="email" required> -->
                        {% for error in form.lastname.errors %}
                        <small class="error-bullet">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label class="form-label mb-1 text-2">Email</label>
                        {{ form.email(type="text", maxlength="100", class="form-control text-3 h-auto py-2") }}
                        <!-- <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control text-3 h-auto py-2" name="subject" required> -->
                        {% for error in form.email.errors %}
                        <small class="error-bullet">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label class="form-label mb-1 text-2">Message</label>
                        {{ form.message(type="text", maxlength="5000", class="form-control text-3 h-auto py-2", rows="7") }}
                        <!-- <textarea maxlength="5000" data-msg-required="Please enter your message." rows="7" class="form-control text-3 h-auto py-2" name="message" required></textarea> -->
                        {% for error in form.message.errors %}
                        <small class="error-bullet">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        {{ form.submit(type="submit", value="Send Message", class="btn btn-primary btn-modern btn-sm") }}
                        <!-- <input type="submit" value="Send Message" class="btn btn-primary btn-modern btn-sm" data-loading-text="Loading..."> -->
                    </div>
                    <div class="form-group col-8">
                        <div class="form-check">
                            {{ form.is_optin(class="form-check-input", type="checkbox") }}
                            <!-- <input class="form-check-input" type="checkbox" value="" name="agree" id="tabContent9Checkbox"> -->
                            <label class="form-check-label" for="tabContent9Checkbox">
                                Subscribe to the BS2023 mailing list!
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- <script src="{{ url_for('static', filename='vendor/jquery.gmap/jquery.gmap.min.js') }}"></script> -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script>
  const button = document.querySelector('#button');
  const tooltip = document.querySelector('#tooltip');

  const popperInstance = Popper.createPopper(button, tooltip, {
    modifiers: [
      {
        name: 'offset',
        options: {
          offset: [0, 8],
        },
      },
    ],
  });

  function show() {
    // Make the tooltip visible
    tooltip.setAttribute('data-show', '');

    // Enable the event listeners
    popperInstance.setOptions((options) => ({
      ...options,
      modifiers: [
        ...options.modifiers,
        { name: 'eventListeners', enabled: true },
      ],
    }));

    // Update its position
    popperInstance.update();
  }

  function hide() {
    // Hide the tooltip
    tooltip.removeAttribute('data-show');

    // Disable the event listeners
    popperInstance.setOptions((options) => ({
      ...options,
      modifiers: [
        ...options.modifiers,
        { name: 'eventListeners', enabled: false },
      ],
    }));
  }

  const showEvents = ['mouseenter', 'focus'];
  const hideEvents = ['mouseleave', 'blur'];

  showEvents.forEach((event) => {
    button.addEventListener(event, show);
  });

  hideEvents.forEach((event) => {
    button.addEventListener(event, hide);
  });
</script>
{% endblock %}