{% extends 'base.html' %}
{% block title %}COVID{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">COVID-19 <strong>Policy</strong></h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Guide</li>
                    <li class="active">COVID-19</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">

            <p>A physical conference values the most. Amid the virus policy shift, we have high hopes that all barriers, such as travel restrictions and forced quarantine, will be nullified when BS2023 comes. Cautious but determined, the world's eyes end to the COVID emergency in 2023 with everything gradually back on track. Various activities will roll out centering on a physical BS2023, and we send you a warm welcome to join this reunion, in Shanghai. However, in counter with any uncertainties, BS2023 continues to be a <strong>HYBRID</strong> event to your best ease.</p>

            <p>Safety first. Despite the criticism and the economic impact, the dynamic zero-COVID policy successfully contained the spread of the novel coronavirus in the country. In the past three years, society paid a high cost in mass testing, vaccination, pandemic data system, and, most of all, the cooperation of the population. However, circumstances change. With the knowledge, treatment protocols, and medical resources prepared, it is time to adapt to the new reality. Exiting from zero-COVID, the policy will get loose very soon.</p>

            <p><strong>Dec 13, 2022</strong> Hong Kong lifts all COVID-19 curbs on inbound travelers. No 0+3 self-isolation requirement for inbound travelers. Everyone who tests negative for COVID-19 will be issued with a blue code in their vaccine pass which will give them free access to public places.</p>

            <p><strong>Dec 12, 2022</strong> Travel Code will go offline officially on Dec 13. It will no longer be a restriction imposed on domestic travelers. </p>

            <p><strong>Dec 7, 2022</strong> <span style="color:#c54c40">The Health Code and centralized quarantine are abandoned, along with new relaxed measures. </span></p>

            <p><strong>Nov 11, 2022</strong> China further shortens mandatory hotel quarantine period for international arrivals (<strong>5+3</strong>), cancels the circuit breaker mechanism for inbound flights, and requires only one negative PCR test within 48 hours before boarding. </p>

            <p><strong>Jun 28, 2022</strong> China further shortens mandatory hotel quarantine period for international arrivals (<strong>7+3</strong>), which means "7 days centralized (hotel) quarantine + 3 days home quarantine".</p>

        </div>
    </div>
    
</div>
{% endblock %}