{% extends 'base.html' %}
{% block title %}Submission guide{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark"><strong>ConfTool</strong> guide for reviewers</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>ConfTool</li>
                    <li class="active">Review</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <p><strong>Greetings!</strong> All reviewers will be invited to the ConfTool system and assigned with authorities. Click to start reviewing: <a href="https://www.conftool.pro/bs2023/" garget="_blank">www.conftool.pro/bs2023</a></p>
            <p style="margin-top:50px;"></p>
            <p><strong class="text-color-dark">STEP-1</strong> At first login, you will be asked to select your priority topics. This facilitates the assignment of contributions to suitable reviewers. Please choose your specialties among our predefined conference topics. On top of this, you can bid for any other papers you are interested during biding period.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/reviewer-1.jpg') }}" alt="Select Priority Topics">
            <p></p>
            <hr class="my-5">
            <p><strong class="text-color-dark">STEP-2</strong> You must sign the confidentiality agreement to proceed.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/reviewer-2.jpg') }}" alt="Dashboard">
            <p></p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/reviewer-3.jpg') }}" alt="Confidentiality agreement">
            <p></p>
            <hr class="my-5">
            <p><strong class="text-color-dark">STEP-3</strong> Then you may access to the contributions assigned to you for review. You can bid for papers you are interested during the biding period, which will open shortly after the paper submission deadline.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/reviewer-4.jpg') }}" alt="Dashboard">
            <p></p>
            <hr class="my-5">
            <p><strong class="text-color-dark">STEP-4</strong> The overall score is based on some Likert-Scale subitems whose weight is hidden from reviewers. Please provide unbiased judgement about the contribution. Detailed comments to authors are most welcome. You may refer to this video about <a href="https://www.youtube.com/watch?v=jMMez2lpJiE" target="_blank">How to Review a Building Simulation Paper</a>.</br>
            If there is any message you would like to copy to session chairs and editors, leave it at the bottom box. For example, the contribution suits for another session or other types of presentation.</br>
            You may also reject the review request given reasonable explanations.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/reviewer-5.jpg') }}" alt="Contribution details">
            <p></p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/reviewer-6.jpg') }}" alt="Review form">
            <p></p>
            <hr class="my-5">
            <p><strong class="text-color-dark">STEP-5</strong> Well done! Now you can take an overview of your review progress in the dashboard.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/reviewer-7.jpg') }}" alt="Dashboard">
            <p></p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/reviewer-8.jpg') }}" alt="Overview">
            <p style="margin-top: 50px;"></p>
        </div>
    </div>
    
</div>
{% endblock %}