{% extends 'base.html' %}
{% block title %}Submission guide{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark"><strong>ConfTool</strong> guide for authors</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>ConfTool</li>
                    <li class="active">Submit</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <p><strong>ConfTool</strong> manages the abstract/paper submission of BS2023: <a href="https://www.conftool.pro/bs2023/" garget="_blank">www.conftool.pro/bs2023</a></p>
            <p><strong>Register New</strong> If not registered before, you need a new user account to submit any contributions to BS2023. At the registration page you can create a new user account for the ConfTool conference management system. All fields marked with an asterisk (*) must be filled in. You may leave a message in the User Comments box.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/author-1.jpg') }}" alt="Register New">
            <p></p>
            <p><strong>Your Submissions</strong> Here you can submit new contributions and manage your submitted contributions. The number of contributions is limited to 3 per author. Please select one theme as the category of your contributions. Then proceed.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/author-2.jpg') }}" alt="Your Submissions">
            <p></p>
            <p><strong>Submission of a Contribution</strong> In this page, you only need to fill in the form with plain text as an abstract. All fields marked with an asterisk (*) must be filled in. The maximum 800-word abstract includes 4 parts: <i>Aim and Approach</i> / <i>Scientific Innovation and Relevance</i> / <i>Preliminary Results and Conclusions</i> / <i>Main References</i>. You may need to prepare the text in advance in case that the ConfTool dialog expires. You may append any remarks at the end of this form. For example, if you need the administrator to help you change the category of your contributions.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/author-3.jpg') }}" alt="Submission of a Contribution">
            <p></p>
            <p>After confirmation, you will receive a successful message and an email delivered to your mailbox. You can revise the details of your contributions anytime before the deadline. If encountered with any difficulties, you may leave remarks or contact us: info@bs2023.org</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/author-4.jpg') }}" alt="Success Message">
            <p></p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/author-5.jpg') }}" alt="Success Email">
            <p></p>
            <p>That's it! Gook luck with your submission!</p>
        </div>
    </div>
    
</div>
{% endblock %}