{% extends 'base.html' %}
{% block title %}Submission guide{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark"><strong>ConfTool</strong> guide for authors</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>ConfTool</li>
                    <li class="active">Submit</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <p><strong>ConfTool</strong> manages the abstract/paper submission of BS2023: <a href="https://www.conftool.pro/bs2023/" garget="_blank">www.conftool.pro/bs2023</a></p>
            <p><strong>Register New</strong> If not registered before, you need a new user account to submit any contributions to BS2023. On the registration page, you can create a new user account for the ConfTool conference management system. All fields marked with an asterisk (*) must be filled in. You may leave a message in the User Comments box.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/author-1.jpg') }}" alt="Register New">
            <p></p>
            <p>After registration, you will be directed to the main dashboard.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/author-6.jpg') }}" alt="Main Dashboard">
            <p></p>
            <p><strong>Your Submissions</strong> Here you can submit new contributions and manage your submitted contributions. The number of contributions is limited to 3 per author. Please select the type of your contribution (research paper or project report), then proceed. (If you have submitted your abstract in the wrong category, please contact us for a re-evaluation)</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/author-7.jpg') }}" alt="Your Submissions">
            <p></p>
            <p><strong>Submission of a Contribution</strong> All fields marked with an asterisk (*) must be filled in. Please paste your abstract part to the text box, as a quick look for reviewers. You may leave any remarks in the comment box, for example, the source data/code repository. However, you must not leave personal information that violates double-blind reviews. Other options:</p>
            <ul class="list-unstyled">
                <li>- Theme/Category: Choose ONE theme most relevant.</li>
                <li>- Presentation Mode: Note that online attendees CANNOT give any presentations, either oral or poster. However, all posters can be accessed in the online repository.</li>
                <li>- Student Contribution: Only the contributions with this box checked will be considered in the Student's best paper evaluation.</li>
                <li>- Physical Attendance: Notify us if you plan a travel to China. The online attendees can only access all sessions by live streaming, with NO presentation allowed.</li>
            </ul>
            <img width="100%" src="{{ url_for('static', filename='img/guide/author-8.jpg') }}" alt="Submission of a Contribution">
            <p></p>
            <p>On the second page, you will be asked to sign the copyright-terms and upload the manuscript. You may update your manuscript freely before the submission deadline.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/author-9.jpg') }}" alt="Submission of a Contribution">
            <p></p>
            <p>After this, you will receive emails about your successful submission and the copyright confirmation. Contact us at info@bs2023.org if you have any difficulties or suggestions.</p>
            <img width="100%" src="{{ url_for('static', filename='img/guide/author-10.jpg') }}" alt="Success Message">
            <p></p>
            <p>That's it! Gook luck with your submission!</p>
        </div>
    </div>
    
</div>
{% endblock %}