{% extends 'base.html' %}
{% block title %}IBPSA{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Our Story</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>About</li>
                    <li class="active">IBPSA</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row">
        <div class="col text-center">
            <div class="logo">
                <img width="300"src="{{ url_for('static', filename='img/ibpsa-red.svg') }}" alt="IBPSA">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center">
                <h2 class="font-weight-normal text-7"><strong class="font-weight-extra-bold">IBPSA</strong>-World</h2>
            </div>
            <p><strong>IBPSA</strong> (The International Building Performance Simulation Association) is a non-profit international society of building performance simulation researchers, software developers, and practitioners. IBPSA is dedicated to improving the built environment via education, research, convening conferences, and fostering communication. With 29 regional affiliates and more than 4 000 members, IBPSA is the world’s leading organization dedicated to advancing the methods and applications of building performance modeling. IBPSA is governed by a Board of Directors elected by the membership. Volunteer involvement in Board committees is welcome.</p>
            <p><strong>MISSION</strong> IBPSA is founded to advance and promote the science of building performance simulation in order to improve the design, construction, operation, and maintenance of new and existing buildings worldwide.</p>
            <p><strong>VISION</strong> Building Simulation offers the potential to cope adequately with building performance related concerns, as well as with the construction process. Increasingly, computer based models (programs) are being employed to aid in the design, operation, or management decision making process. The development, evaluation, use in practice, and standardization, of the models and programs in therefore of growing importance. For building Design, Construction, Operation, Maintenance and Management activities, there is also an urgent need for the integration of ‘generally applicable’ and ‘generally accepted’ methods and tools, for various applications, each having various levels of complexity and/or various types of end-users. Also important is the technology transfer issue within the building modeling field.</p>
            <p>Please refer to the official website for more information: <a href="https://www.ibpsa.org/" target="_blank">https://www.ibpsa.org</a></p>
            <p class="mb-1"><strong>GOALS</strong></p>
            <ul>
                <li>Identify problems within the built environment that may be solved by improved simulation tools and techniques</li>
                <li>Identify the performance characteristics of buildings on which simulation should be focused</li>
                <li>Identify building performance simulation research and development needs and transfer new developments to the user</li>
                <li>Promote standardization of the building simulation industry</li>
                <li>Inform and educate its members and the public regarding the value and the state-of-the-art of building performance simulation</li>
            </ul>

            <div class="row">
                <div class="col">
                    <hr class="solid my-5">
                </div>
            </div>

            <div class="text-center">
                <h2 class="font-weight-normal text-7"><strong class="font-weight-extra-bold">IBPSA</strong>-China</h2>
            </div>
            <p><strong>IBPSA-China</strong> is an existing IBPSA regional affiliate, which was founded in 2007. Its foundation was regarded as a powerful support for the 10th Building Simulation conference, Building Simulation 2007. IBPSA-China will be a good choice as one of Building Simulation 2023 co-hosts or co-organizers.</p>
            <p>For more information please refer to the official website: <a href="http://www.ibpsa.cn" target="_blank">http://www.ibpsa.cn</a></p>

        </div>
    </div>
    
</div>
{% endblock %}