{% extends 'base.html' %}
{% block title %}Newsletter{% endblock %}

{% block content %}

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Newsletter <strong>{{ month }}</strong> {{ year }}</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>About</li>
                    <li class="active">Newsletter</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row">
        <div class="col-lg-9">
            <div class="blog-posts single-post">

                {% block article %}{% endblock %}

            </div>
        </div>

        <div class="col-lg-3">
            <aside class="sidebar">
                <h5 class="font-weight-semi-bold pt-4">Cache</h5>
                <ul class="list-unstyled flex-column mb-5">
                    <li><a href="{{ url_for ('newsletter', news_id=20210501) }}">May 1, 2021</a></li>
                    <li><a href="{{ url_for ('newsletter', news_id=20220407) }}">April 7, 2022</a></li>
                    <li><a href="{{ url_for ('newsletter', news_id=20220623) }}">June 23, 2022</a></li>
                    <li><a href="{{ url_for ('newsletter', news_id=20221004) }}">October 4, 2022</a></li>
                    <li><a href="{{ url_for ('newsletter', news_id=20221026) }}">October 26, 2022</a></li>
                    <li><a href="{{ url_for ('newsletter', news_id=20221029) }}">October 29, 2022</a></li>
                    <li><a href="{{ url_for ('newsletter', news_id=20221128) }}">November 28, 2022</a></li>
                    <li><a href="{{ url_for ('newsletter', news_id=20221222) }}">December 22, 2022</a></li>
                    <li><a href="{{ url_for ('newsletter', news_id=20230101) }}">January 1, 2023</a></li>
                    <li><a href="{{ url_for ('newsletter', news_id=20230110) }}">January 10, 2023</a></li>
                    <li><a href="{{ url_for ('newsletter', news_id=20230215) }}">February 10, 2023</a></li>
                    <li>March, 2023</li>
                    <li>May, 2023</li>
                    <li>June, 2023</li>
                    <li>July, 2023</li>
                    <li>August, 2023</li>
                    <li>September, 2023</li>
                </ul>
                
            </aside>
        </div>

    </div>

</div>
{% endblock %}