{% extends 'base.html' %}
{% block title %}Awards{% endblock %}

{% block content %}

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Newsletter <strong>April</strong> 2022</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li><a href="index.html">Home</a></li>
                    <li>About</li>
                    <li class="active">Newsletter</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row">
        <div class="col-lg-9">
            <div class="blog-posts single-post">

                <article class="post post-large blog-single-post border-0 m-0 p-0">
                    <div class="post-image ms-0 mb-2">
                        <img src="static/img/lujiazui-banner.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                    </div>

                    <div class="post-content">

                        <h2 class="font-weight-semi-bold">BS2023: Time for Shanghai</h2>

                        <div class="post-meta">
                            <span><i class="far fa-calendar-alt"></i> April 7, 2022 </span>
                        </div>

                        <p>Following the successful BS 2021 in Bruges, Shanghai will take the relay in hosting our next world building simulation conference! BS 2023 is scheduled for 4-6 September 2023, so mark your calendar and prepare the travel budget!</p>
                        <p>Shanghai, which literally means "City on the Sea", lies on the Yangzi River delta at the point where China's main waterway completes its journey to the Pacific. In the past 200 years, Shanghai has experienced a booming development from a fishing village to the financial center of China. The colonial history left the city with copious architectural styles from art deco to neoclassicism, together with the oriental Buddhist temples, home-grown Lòngtáng and Shíkùmén housing, making it a diverse architectural heritage. Symbolic of concession-era Shanghai, the Bund hosts a great view contrasting the bones of the past with the futuristic geometry of Pudong’s skyline, the Oriental Pearl Tower and the Shanghai Tower. Below, lies our main venue, the International Convention Center.</p>
                        <p>The organization committee is a dynamic team with people from two acknowledged universities (Tongji and Tsinghua) and sponsors, chaired by Prof. Yiqun Pan and Prof. Da Yan. As a returning event since BS 2007 Beijing, the regional affiliate IBPSA-China is honored to invite all researchers, developers, practitioners, and policymakers to this warm reunion. The theme relates with all spheres of building simulation towards a low carbon design, operation, and city development. Shanghai, the metropolis with its enormous energy consumed and data produced, serves as a great context of topics from cutting-edge technologies to the renaissance of cultural heritage.</p>
                        <p>Since the pandemic in 2020, Shanghai has demonstrated its strength in ensuring public health and openness at the same time. With safety assured, we will present various social events to our community, including a cultural cruise along the Huangpu River. If time is available, you may explore all mainland attractions apart from the famous water towns skirting around Shanghai. It only takes a few hours by the high-speed rail network in China.</p>
                        <p>Few cities in the world evoke so much history, glamour, mystique and exotic promise in name alone. A warm welcome in Shanghai! </p>
                    </div>
                </article>

            </div>
        </div>

        <div class="col-lg-3">
            <aside class="sidebar">
                <h5 class="font-weight-semi-bold pt-4">Cache</h5>
                <ul class="list-unstyled flex-column mb-5">
                    <li><a href="newsletter0521.html">May 1, 2021</a></li>
                    <li><a href="#">April 4, 2022</a></li>
                    <li>June 30, 2022</li>
                    <li>August 30, 2022</li>
                    <li>October 30, 2022</li>
                    <li>December 24, 2022</li>
                    <li>Jan 22, 2023</li>
                    <li>March 15, 2023</li>
                    <li>May 1, 2023</li>
                    <li>June 1, 2023</li>
                    <li>July 1, 2023</li>
                    <li>August 1, 2023</li>
                    <li>September 1, 2023</li>
                </ul>
                
            </aside>
        </div>

    </div>

</div>
{% endblock %}