{% extends 'base.html' %}
{% block title %}Poster - {{ title }}{% endblock %}

{% block styles %}
<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Poster Gallery</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Program</li>
                    <li class="active">Poster</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    
    <div class="row justify-content-center">
        <div class="col-lg-8">
            
            <div class="my-4">
                <h4 class="font-weight-normal text-7">{{ title }}</h4>
            </div>
            <p><strong>ABSTRACT</strong> {{ abstract }} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            {% if is_freepass or current_user.is_authenticated %}
            <div class="text-center py-4">
                <video
                    id="my-video"
                    class="video-js"
                    controls
                    preload="yes"
                    width="100%"
                    height="auto"
                    poster="{{ path_cover }}"
                    data-setup="{}" 
                    autoplay loop muted playsinline
                  >
                    <source src="{{ path_mp4 }}" type="video/mp4; codecs='avc1.42E01E, mp4a.40.2'" />
                    <source src="{{ path_webm }}" type="video/webm; codecs='vp8, vorbis'" />
                    <p class="vjs-no-js">
                      To view this video please enable JavaScript, and consider upgrading to a
                      web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
                <hr class="my-4">
                <div style="border: 1px solid #921f42; border-radius: 5px;">
                    <img width="100%" height="auto" src="{{ path_img }}" alt="{{ title }}">
                </div>
            </div>

            {% else %}
            <div class="img-box py-4">
                <img width="100%" height="200" src="{{ url_for('static', filename='img/placeholder-img-short.webp') }}" alt="">
            </div>
            <p>-> Poster/Video available after <a href="{{ url_for('poster') }}">login</a> <-</p>
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock %}