{% extends 'base.html' %}
{% block title %}Program{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Program Book</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Program</li>
                    <li class="active">Program book</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row justify-content-center">
        <div class="col-lg-9 g-0">
            <p>Preview detailed conference program in ConfTool: <a href="https://www.conftool.pro/bs2023/sessions.php" target="_blank">https://www.conftool.pro/bs2023/sessions.php</a>
            <div>
                <img src="{{ url_for('static', filename='img/program.jpg') }}" width="100%">
            </div>
        </div>
    </div>
    
</div>
{% endblock %}