{% extends 'base.html' %}
{% block title %}Program{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Program Book</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Program</li>
                    <li class="active">Program book</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row justify-content-center">
        <div class="col-lg-9 g-0">
            <p style="text-align: center;">The schedule shown is for reference purposes only. The actual program may vary due to rearrangement. Please come back and download the program book before the conference.</p>
            <div>
                <table class="table-program">
                    <thead>
                        <tr style="height: 46.67px;">
                            <th class="tg-de2y" ><div>7:00</div></th>
                            <th class="tg-xvon" colspan="3">Sept. 3</th>
                            <th class="tg-xvon" colspan="2">Sept. 4</th>
                            <th class="tg-xvon" colspan="2">Sept. 5</th>
                            <th class="tg-xvon">Sept. 6</th>
                            <th class="tg-xvon">Sept. 7</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="height: 46.67px;">
                            <td class="tg-de2y"><div>8:00</div></td>
                            <td class="tg-c2ow" rowspan="16">Registration</td>
                            <td class="tg-yj5y" colspan="2"></td>
                            <td class="tg-c3ow" colspan="2">Registration</td>
                            <td class="tg-yj5y" colspan="3"></td>
                            <td class="tg-c3ow" rowspan="15">IBPSA<br>Board<br>Meeting</td>
                        </tr>
                        <tr style="height: 35px;">
                            <td class="tg-de2y"><div>8:45</div></td>
                            <td class="tg-c3ow" colspan="2" rowspan="7">Committee<br>Meeting</td>
                            <td class="tg-c3ow" colspan="2">Opening Ceremony</td>
                            <td class="tg-c3ow" colspan="2">Keynote Speech</td>
                            <td class="tg-c3ow">Keynote Speech</td>
                        </tr>
                        <tr style="height: 35px;">
                            <td class="tg-de2y"><div>9:30</div></td>
                            <td class="tg-c3ow" colspan="2">Keynote Speech</td>
                            <td class="tg-c3ow" colspan="2">Awards</td>
                            <td class="tg-c3ow">Keynote Speech</td>
                        </tr>
                        <tr style="height: 23.33px;">
                            <td class="tg-de2y"><div>10:00</div></td>
                            <td class="tg-6965" colspan="2">Break / Poster</td>
                            <td class="tg-6965" colspan="2">Break / Poster</td>
                            <td class="tg-6965">Break / Poster</td>
                        </tr>
                        <tr style="height: 46.67px;">
                            <td class="tg-de2y"><div>11:00</div></td>
                            <td class="tg-c3ow" colspan="2">Parallel Session</td>
                            <td class="tg-c3ow" colspan="2">Parallel Session</td>
                            <td class="tg-c3ow">Parallel Session</td>
                        </tr>
                        <tr style="height: 4.67px;">
                            <td class="tg-de2y"><div>11:10</div></td>
                            <td class="tg-6965" colspan="2"></td>
                            <td class="tg-6965" colspan="2"></td>
                            <td class="tg-6965"></td>
                        </tr>
                        <tr style="height: 46.67px;">
                            <td class="tg-de2y"><div>12:10</div></td>
                            <td class="tg-c3ow" colspan="2">Parallel Session</td>
                            <td class="tg-c3ow" colspan="2">Parallel Session</td>
                            <td class="tg-c3ow">Parallel Session</td>
                        </tr>
                        <tr style="height: 85.56px;">
                            <td class="tg-de2y"><div>14:00</div></td>
                            <td class="tg-6965" colspan="2">Lunch / Poster</td>
                            <td class="tg-6965" colspan="2">Lunch / Poster</td>
                            <td class="tg-6965">Lunch / Poster</td>
                        </tr>
                        <tr style="height: 35px;">
                            <td class="tg-de2y"><div>14:45</div></td>
                            <td class="tg-e1ow" rowspan="3">Sponsor<br>Workshop</td>
                            <td class="tg-m3n4" rowspan="7">Technical<br/>Tour</td>
                            <td class="tg-c3ow" colspan="2">Keynote Speech</td>
                            <td class="tg-c3ow" colspan="2">Keynote Speech</td>
                            <td class="tg-c3ow" rowspan="3">Parallel Session</td>
                        </tr>
                        <tr style="height: 4.67px;">
                            <td class="tg-de2y"><div>14:55</div></td>
                            <td class="tg-6965" colspan="2"></td>
                            <td class="tg-6965" colspan="2"></td>
                        </tr>
                        <tr style="height: 46.67px;">
                            <td class="tg-de2y"><div>15:55</div></td>
                            <td class="tg-c3ow" colspan="2">Parallel Session</td>
                            <td class="tg-c3ow" colspan="2">Parallel Session</td>
                        </tr>
                        <tr style="height: 19.44px;">
                            <td class="tg-de2y"><div>16:20</div></td>
                            <td class="tg-6965">Break</td>
                            <td class="tg-6965" colspan="2">Break / Poster</td>
                            <td class="tg-6965" colspan="2">Break / Poster</td>
                            <td class="tg-6965">Break / Poster</td>
                        </tr>
                        <tr style="height: 46.67px;">
                            <td class="tg-de2y"><div>17:20</div></td>
                            <td class="tg-e1ow" rowspan="3">Sponsor<br>Workshop</td>
                            <td class="tg-c3ow">Parallel Session</td>
                            <td class="tg-m3n4" rowspan="3">Technical<br/>Tour</td>
                            <td class="tg-c3ow">Parallel Session</td>
                            <td class="tg-m3n4" rowspan="3">Technical<br/>Tour</td>
                            <td class="tg-c3ow" rowspan="3">Closing Ceremony<br>Awards<br>BS2025</td>
                        </tr>
                        <tr style="height: 4.67px;">
                            <td class="tg-de2y"><div>17:30</div></td>
                            <td class="tg-6965"></td>
                            <td class="tg-6965"></td>
                        </tr>
                        <tr style="height: 46.67px;">
                            <td class="tg-de2y"><div>18:30</div></td>
                            <td class="tg-c3ow">Parallel session</td>
                            <td class="tg-3xi5">Parallel Session</td>
                        </tr>
                        <tr style="height: 116.67px;">
                            <td class="tg-de2y"><div>21:00</div></td>
                            <td class="tg-6965" colspan="2">Welcome<br>Reception</td>
                            <td class="tg-6965" colspan="2">River<br>Cruise<br>(tentative)</td>
                            <td class="tg-6965" colspan="2">Banquet<br>Dinner</td>
                            <td class="tg-yj5y" colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}