{% extends 'base.html' %}
{% block title %}Publication{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Publication</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Sign-Up</li>
                    <li class="active">Publication</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row my-5">
        <div class="col-md-6 mb-5 mb-md-0">
            <p>All research papers will be <b>double-blinded</b> peer-reviewed and published in the conference proceedings, indexed by <b>Scopus</b> and <b>EI</b>, regardless the presentation form (oral or poster). </p>
            <p>Some papers with high-quality will be selected for submitting an extended version to Special Issues of high-indexed journals, such as Journal of Building Performance Simulation and Building Simulation.</p>

            <ul class="py-4">
                <li><b>September 3<sup>rd</sup> 2023</b> - Manuscripts preview via onsite USB-drive</li>
                <li><b>September 17<sup>th</sup> 2023</b> - Final upload for camera-ready version</li>
                <li><b>Around April 2024</b> - Pre-print preview on <a href="https://publications.ibpsa.org/building-simulation-conference-proceedings/">IBPSA publications</a></li>
                <li><b>Around September 2024</b> - Publication with indexation and DOI</li>
            </ul>
        </div>

        <div class="col-md-6 text-center text-md-start">
            <div class="owl-carousel owl-theme nav-style-1 nav-center-images-only stage-margin mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2}}, 'margin': 25, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
                <div>
                    <img class="img-fluid rounded-0 mb-3" src="static/img/publication-bps.webp" alt="Journal of Building Performance Simulation" />
                    <h3 class="font-weight-semibold text-color-dark text-4 mb-0">Journal of Building Performance Simulation</h3>
                    <p class="text-2 mb-0">Taylor & Francis &copy IF 2.87</p>
                </div>
                <div>
                    <img class="img-fluid rounded-0 mb-3" src="static/img/publication-bs.webp" alt="Building Simulation" />
                    <h3 class="font-weight-semibold text-color-dark text-4 mb-0">Building Simulation</h3>
                    <p class="text-2 mb-0">Springer &copy IF 4.01</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5" id="certificate">
        
        <div class="row">
            <div class="col-8">
                <div>
                    <p>You may retrieve the Certificate of Acceptance by your contribution ID. It only certifies that your manuscript has been accepted and will be published in the Building Simulation Conference Proceedings Vol.18 (ISSN: 2522-2708). We cannot offer the front cover, pre-print PDF, page number, indexation or DOI prior to the softcopy of the conference proceedings. </p>
                </div>

                <div class="my-5">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                    <div>
                        {% for category, message in messages %}
                        {% if category == 'warning' %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert" id="faded">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    <div class="card" style="background-color: #f9f9f9">
                        <div class="card-body">

                            <form class="contact-form" action="{{ url_for('publication') }}" method="POST" enctype="multipart/form-data">
                                <!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> -->
                                {{ form_cert.hidden_tag() }}

                                <div class="row" style="margin-bottom: -15px;">
                                    <div class="form-group col-md-6">
                                        {{ form_cert.index(class="form-control text-3", placeholder="Your contribution ID") }}
                                        {% for error in form_cert.index.errors %}
                                        <small style="color: #dc3545">{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form_cert.submit(type="submit", value="Get certificate", class="btn btn-outline-danger w-100") }}
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <p>Only the accepted and presented paper with the full registration payment will be included. If you find your paper missing in the following list, please contact us at secretariat@bs2023.org.</p>

            </div>
        </div>

        
        <div class="my-5">
            <ul class="list-unstyled">
                {% for paper in papers %}
                {% if paper.mode_presentation and paper.is_paid %}
                <li><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1" style="width: 40px; ">{{ paper.conftool }}</span>&nbsp;&nbsp;{{ paper.title }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        
    </div>
</div>
{% endblock %}