{% extends 'base.html' %}
{% block title %}Publication{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Publication</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Sign-Up</li>
                    <li class="active">Publication</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row py-5 my-5">
        <div class="col-md-6 mb-5 mb-md-0">
            <p>All research papers will be <b>double-blinded</b> peer-reviewed and published in the conference proceedings, indexed by <b>Scopus</b> and <b>EI</b>, regardless the presentation form (oral or poster). </p>
            <p>Some papers with high-quality will be selected for submitting an extended version to Special Issues of high-indexed journals, such as Journal of Building Performance Simulation and Building Simulation.</p>

            <ul class="py-4">
                <li><b>September 3<sup>rd</sup> 2023</b> - Manuscripts preview via onsite USB-drive</li>
                <li><b>September 17<sup>th</sup> 2023</b> - Final upload for camera-ready version</li>
                <li><b>Around April 2024</b> - Pre-print preview on <a href="https://publications.ibpsa.org/building-simulation-conference-proceedings/">IBPSA publications</a></li>
                <li><b>Around September 2024</b> - Publication with indexation and DOI</li>
            </ul>
        </div>

        <div class="col-md-6 text-center text-md-start">
            <div class="owl-carousel owl-theme nav-style-1 nav-center-images-only stage-margin mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2}}, 'margin': 25, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
                <div>
                    <img class="img-fluid rounded-0 mb-3" src="static/img/publication-bps.webp" alt="Journal of Building Performance Simulation" />
                    <h3 class="font-weight-semibold text-color-dark text-4 mb-0">Journal of Building Performance Simulation</h3>
                    <p class="text-2 mb-0">Taylor & Francis &copy IF 2.87</p>
                </div>
                <div>
                    <img class="img-fluid rounded-0 mb-3" src="static/img/publication-bs.webp" alt="Building Simulation" />
                    <h3 class="font-weight-semibold text-color-dark text-4 mb-0">Building Simulation</h3>
                    <p class="text-2 mb-0">Springer &copy IF 4.01</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-5 my-5">
        <p>Papers in edition, which are planned to be published in the Building Simulation Conference Proceedings Vol.18 (ISSN: 2522-2708)<br>
        This is only for editorial process, not the final acceptance/publication proof. </p>
        <ol>
            {% for paper in papers %}
            {% if paper.mode_presentation %}
            <li>{{ paper.title }}</li>
            {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}