{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Registration</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Sign-up</li>
                    <li class="active">Registration</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <section class="mb-5">
        <h2>Types & Pricing</h2>
        <p>BS2023 opens for registration now! Here is the pricing table for your reference (in USD and CNY).</p>
        <div class="row my-5"  style="padding: 0px 12px;">
            <div class="col-md-4 g-0">
                <div class="card-reg card-reg-price card-reg-left">
                    <table class="table-reg">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Delegate</th>
                                <th>Student</th>
                                <th>Companion*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="has-details">Early Bird
                                    <span class="details">expired on<br/>June 30</span>
                                </td>
                                <td>$ 900<br/><span style="color: #cccccc;">/¥ 5400</span></td>
                                <td>$ 550<br/><span style="color: #cccccc;">/¥ 3300</td>
                                <td>$ 450<br/><span style="color: #cccccc;">/¥ 2700</td>
                            </tr>
                            <tr>
                                <td>Standard
                                    <span class="details">expired on<br/>August 25</span>
                                </td>
                                <td>$ 990<br/><span style="color: #cccccc;">/¥ 5940</td>
                                <td>$ 600<br/><span style="color: #cccccc;">/¥ 3600</td>
                                <td>$ 500<br/><span style="color: #cccccc;">/¥ 3000</td>
                            </tr>
                            <tr class="active-row">
                                <td>On-site</td>
                                <td>$ 1080<br/><span style="font-weight: normal; color: #f9f9f9;">/¥ 6480</td>
                                <td>$ 650<br/><span style="font-weight: normal; color: #f9f9f9;">/¥ 3900</td>
                                <td>$ 550<br/><span style="font-weight: normal; color: #f9f9f9;">/¥ 3300</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-8 g-0">
                <div class="card-reg card-reg-text card-reg-right">
                    <h4>Physical Attendance</h4>
                    <p>This type of registration allows you to participate in all public activities of BS2023, including plenary and parallel sessions, workshops and seminars, welcome reception and catering, technical tours, and social activities (see our tentative program <a href="{{ url_for('program') }}">here</a>). You can access online resources as well.</p>
                    <div class="row card-reg-list">
                        <div class="col-6">
                            <ul class="list list-icons" style="line-height: 1.5em">
                                <li><i class="far fa-check-circle"></i>All scientific sessions</li>
                                <li><i class="far fa-check-circle"></i>Technical tours</li>
                                <li><i class="far fa-check-circle"></i>Online poster/replay repository</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list list-icons list-primary">
                                <li><i class="far fa-check-circle"></i>Dining, catering</li>
                                <li><i class="far fa-check-circle"></i>Live streaming</li>
                                <li><i class="far fa-check-circle"></i>Certificate of attendance</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-reg-note">
                        * Companion refers to someone accompanying another person during BS2023, who has access to the opening and closing ceremony, all dining and catering, but neither plenary nor parallel sessions.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4" style="padding: 0px 12px;">
            <div class="col-md-8 g-0">
                <div class="card-reg card-reg-text card-reg-left">
                    <h4>Virtual Attendance</h4>
                    <p>The virtual attendees will have their presentations in online sessions, with access to the live streaming of plenary and parallel sessions. </p>
                    <div class="row card-reg-list">
                        <div class="col-6">
                            <ul class="list list-icons" style="line-height: 1.5em">
                                <li><i class="far fa-check-circle"></i>Live streaming</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list list-icons list-primary">
                                <li><i class="far fa-check-circle"></i>Online sessions</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row card-reg-list">
                        <div class="col-6">
                            <ul class="list list-icons list-primary">
                                <li><i class="far fa-check-circle"></i>Certificate of attendance</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list list-icons list-primary">
                                <li><i class="far fa-check-circle"></i>Online poster/replay repository</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 g-0">
                <div class="card-reg card-reg-price card-reg-right">
                    <table class="table-reg">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Delegate</th>
                                <th>Student</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="has-details">Early Bird
                                    <span class="details">expired on<br/>June 30</span>
                                </td>
                                <td>$ 300<br/><span style="color: #cccccc;">/¥ 1800</td>
                                <td>$ 300<br/><span style="color: #cccccc;">/¥ 1800</td>
                            </tr>
                            <tr class="active-row">
                                <td>Standard</td>
                                <td>$ 350<br/><span style="font-weight: normal; color: #f9f9f9;">/¥ 2100</td>
                                <td>$ 350<br/><span style="font-weight: normal; color: #f9f9f9;">/¥ 2100</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <p>Policy updated:</p>
        <p>The good news is that China has lifted travel restrictions and there is no testing and quarantine for inbound passengers anymore, which provided great convenience for participants. Therefore, we strongly recommend you attend in person for a better social networking experience, a more interactive discussion, and a great chance to enjoy the beauty and culture of China.<br/>
        <strong>Just in case, we offer you online options with live streaming for all the plenary and parallel sessions. Your presentations will be done in online sessions.</strong><br/>
        We look forward to meeting you in Shanghai, the “Oriental Pearl of Asia”, which offers a colorful and attractive world to visitors, including buildings in diverse architectural styles, excellent cuisine, bustling shopping centers, and distinctive local culture!</p>
    </section>

    <section class="my-5">
        <h2>Register Now!</h2>
        <p>Please head to the <a href="https://www.conftool.pro/bs2023" target="_blank">ConfTool</a> system for your registration. Should you have any difficulties, here is the step-by-step <a href="{{ url_for('guide_participant')}}" target="_blank">instruction</a>.</p>
        <h4>Payment methods accepted:</h4>
        <ul class="list-unstyled payment-list">
            <li><i class="fas fa-money-check-alt"></i> Bank transfer (USD)</li>
            <li><i class="fab fa-cc-paypal"></i> PayPal (USD) with credit/debit cards</li>
            <li><i class="fab fa-alipay"></i> Alipay (CNY)</li>
            <li><i class="fas fa-money-check-alt"></i> Bank transfer (CNY) in mainland China</li>
        </ul>

        <h4>Time span</h4>
        <ul>
            <li>The participation fees are owed upon registration and are payable within <strong>7</strong> days.</li>
            <li>If you pay via Alipay or bank transfer, it takes up to <strong>7</strong> days to update your registration status.</li>
            <li>Register now and enjoy the Earlybird discount before <strong>June 30<sup>th</sup></strong>, 2023.</li>
            <li>The payment is fully refundable before <strong>June 30<sup>th</sup></strong>, 2023.</li>
            <li>You get 80% back upon cancellation before <strong>August 25<sup>th</sup></strong>, 2023.</li>
            <li>You can change your registration type by contacting <a href="mailto:secretariat@bs2023.org">secretariat@bs2023.org</a> before <strong>August 25<sup>th</sup></strong>, 2023.</li>
            <li>The online registration closes on <strong>August 25<sup>th</sup></strong></li>
            <li>The onsite registration opens on <strong>September 3<sup>rd</sup></strong>, 2023, at the counter of the conference venue.</li>
        </ul>

        <h4>Notice</h4>
        <ul>
            <li>All tiers of registration cover the publication of 2 papers per presenting author. If you have more, an additional $300 (¥1800) will be charged per each as the publication fee (select "Extra paper publication" during registration).
            <li>The conference program comes in a bundle, and We do not have a registration type for certain conference sessions. Contact <a href="mailto:secretariat@bs2023.org">secretariat@bs2023.org</a> if you have specific needs.</li>
            <li>Participants have to register themselves with their ConfTool accounts. Currently, we do not have policies for group/team registration.</li>
            <li>You may download the invoice in ConfTool after registration. 中国大陆发票将在会后统一开具，请在注册过程中备注您的具体开票需求</li>
        </ul>
    </section>

    <section class="my-5">
        <!-- <h2>Invitation letter</h2> -->
    </section>

</div>
{% endblock %}