{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Registration</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Sign-up</li>
                    <li class="active">Registration</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <section class="mb-5">
        <h2>Types & Pricing</h2>
        <p>Registration for BS2023 will soon open in early April. Here is the pricing table for your reference (in US dollars). Please note that the <strong>Early bird</strong> discount expires on <strong>June 30</strong>, 2023. Head to the <a href="https://www.conftool.pro/bs2023" target="_blank">ConfTool</a> system for your registration when the time comes.</p>
        <div class="row my-5"  style="padding: 0px 12px;">
            <div class="col-md-4 g-0">
                <div class="card-reg card-reg-price card-reg-left">
                    <table class="table-reg">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Delegate</th>
                                <th>Student</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active-row">
                                <td class="has-details">Early Bird
                                    <span class="details">expires on<br/>June 30</span>
                                </td>
                                <td>$ 900</td>
                                <td>$ 550</td>
                            </tr>
                            <tr>
                                <td>Standard</td>
                                <td>$ 990</td>
                                <td>$ 600</td>
                            </tr>
                            <tr>
                                <td>On-site</td>
                                <td>$ 1080</td>
                                <td>$ 650</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-8 g-0">
                <div class="card-reg card-reg-text card-reg-right">
                    <h4>Physical Attendance</h4>
                    <p>This type of registration allows you to participate in all public activities of BS2023, including plenary and parallel sessions, workshops and seminars, welcome reception and catering, technical tours, and social activities (see our tentative program <a href="{{ url_for('program') }}">here</a>). You can access online resources as well.</p>
                    <div class="row card-reg-list">
                        <div class="col-6">
                            <ul class="list list-icons" style="line-height: 1.5em">
                                <li><i class="far fa-check-circle"></i>All scientific sessions</li>
                                <li><i class="far fa-check-circle"></i>Conference Guidebook&#174;</li>
                                <li><i class="far fa-check-circle"></i>Technical tours</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list list-icons list-primary">
                                <li><i class="far fa-check-circle"></i>Dining, catering</li>
                                <li><i class="far fa-check-circle"></i>Live streaming</li>
                                <li><i class="far fa-check-circle"></i>Certificate of attendance</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row card-reg-list">
                        <div>
                            <ul class="list list-icons list-primary">
                                <li><i class="far fa-check-circle"></i>Online poster/replay repository</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4" style="padding: 0px 12px;">
            <div class="col-md-8 g-0">
                <div class="card-reg card-reg-text card-reg-left">
                    <h4>Virtual Attendance</h4>
                    <p>The virtual attendees will have their presentations in special online sessions with all other online attendees, with access to the live streaming of plenary and parallel sessions. </p>
                    <div class="row card-reg-list">
                        <div class="col-6">
                            <ul class="list list-icons" style="line-height: 1.5em">
                                <li><i class="far fa-check-circle"></i>Live streaming</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list list-icons list-primary">
                                <li><i class="far fa-check-circle"></i>Online sessions</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row card-reg-list">
                        <div class="col-6">
                            <ul class="list list-icons list-primary">
                                <li><i class="far fa-check-circle"></i>Certificate of attendance</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list list-icons list-primary">
                                <li><i class="far fa-check-circle"></i>Online poster/replay repository</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 g-0">
                <div class="card-reg card-reg-price card-reg-right">
                    <table class="table-reg">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Delegate</th>
                                <th>Student</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active-row">
                                <td class="has-details">Early Bird
                                    <span class="details">expires on<br/>June 30</span>
                                </td>
                                <td>$ 300</td>
                                <td>$ 300</td>
                            </tr>
                            <tr>
                                <td>Standard</td>
                                <td>$ 350</td>
                                <td>$ 350</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <p><del>Presentations must be done on-site and cannot be done online. Therefore, online participation DOES NOT allow you to present your work (oral or poster) during the conference.</del> Policy updated:</p>
        <p>The good news is that China has lifted travel restrictions and there is no testing and quarantine for inbound passengers anymore, which provided great convenience for participants. Therefore, we strongly recommend you attend in person for a better social networking experience, a more interactive discussion, and a great chance to enjoy the beauty and culture of China.<br/>
        <strong>Just in case, we offer you online options with live streaming for all the plenary and parallel sessions. Your presentations will be done in a special session with all other online attendees.</strong><br/>
        We look forward to meeting you in Shanghai, the “Oriental Pearl of Asia”, which offers a colorful and attractive world to visitors, including buildings in diverse architectural styles, excellent cuisine, bustling shopping centers, and distinctive local culture!</p>
    </section>

    <section class="my-5">
        <!-- <h2>Invitation letter</h2> -->
    </section>

</div>
{% endblock %}