{% extends 'base.html' %}
{% block title %}River Cruise{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/time-table.css') }}">
{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark"><strong>River Cruise</strong> | HDY Night</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Event</li>
                    <li class="active">River Cruise</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container py-4">
    <div class="row">
        <div class="col-md-6">
            <div class="img-box">
                <img src="{{ url_for('static', filename='img/tour/rivercruise-1.webp') }}" alt=""/>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="img-box">
                <img src="{{ url_for('static', filename='img/tour/rivercruise-2.webp') }}" alt=""/>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-7">
            <p>Enhance your conference experience with a truly magical evening aboard the Huangpu Night River Cruise (HDY Night). <strong>On September 5th, from 8:00 PM to 10:00 PM</strong>, join us for a captivating journey along the shimmering waters of the Huangpu River, as the iconic lights on the Bund in Shanghai illuminate the night sky.</p>

            <p >Being the longest river in Shanghai and the last and most important tributary of the Yangtze River, the Huangpu River flows through the heart of the city of Shanghai and divides the city into two parts. Puxi, to the west, is the city’s historical, cultural, and entertainment center, while Pudong, to the east, is Shanghai’s business and financial center. The 2-hour cruise tour along the Huangpu River offers a unique view of the distinctive contrasts between classical European architecture and soaring modern skyscrapers from the two sides of the Huangpu River.</p>
            <p >On the eastern bank, you'll witness the renowned <strong>colonial-era buildings</strong> that make up <u>the Bund</u> as well as buildings such as <u>the Peace Hotel</u>, with its unique pyramid roof in blazing green, and <u>the Customs House</u>, with its large clock tower. On the western bank, you will see a bustling metropolis full of <strong>modern skyscrapers</strong> and towering buildings, such as <u>Shanghai Tower</u>, <u>the Oriental Pearl TV Tower</u>, <u>Jinmao Tower</u>, and <u>the Shanghai World Financial Center</u>.</p>
        </div>

        <div class="col-lg-5">
            <div style="padding-left: 40px;">
                <table class="tg">
                    <tbody>
                        <tr>
                            <td class="tg-timestamp" style="border-right: none;"><div>18:00</div></td>
                            <td width="80px"></td>
                            <td></td>
                        </tr>
                        <tr style="height: 39px">
                            <td class="tg-timestamp"><div>18:30</div></td>
                            <td></td>
                            <td>Pick-up location: parking lot near the hotel entrance</td>
                        </tr>
                        <tr style="height: 78px">
                            <td class="tg-timestamp"><div>19:30</div></td>
                            <td class="tg-icon"><i class="fas fa-bus"></i></td>
                            <td>
                                Shuttle bus:<br/>
                                • Radisson Hotel -> Shiliupu Wharf<br/>
                                • Meals will be provided for our participants
                            </td>
                        </tr>
                        <tr style="height: 39px">
                            <td class="tg-timestamp"><div>20:00</div></td>
                            <td></td>
                            <td>Boarding</td>
                        </tr>
                        <tr style="height: 144px">
                            <td class="tg-timestamp"><div>22:00</div></td>
                            <td class="tg-icon"><i class="fas fa-ship"></i></td>
                            <td>
                                Night river cruise (HDY Night):<br/>
                                • Drinks and Snacks<br/>
                                • Performances
                            </td>
                        </tr>
                        <tr style="height: 91px">
                            <td class="tg-timestamp"><div>23:10</div></td>
                            <td class="tg-icon"><i class="fas fa-bus"></td>
                            <td>Shuttle bus to Radisson Blu Forest Manor Hotel</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}
