{% extends 'base.html' %}
{% block title %}Sponsors{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Meet our <strong>Sponsors</strong></h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li class="active">Sponsor</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <section class="mb-5" style="text-align:center;">
        <h4>Platinum Sponsors</h4>

        <div class="row portfolio-list mt-4 pt-2">
            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://www.tecka.com/">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="static/img/sponsor/hdy_cubic.webp" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">HDY<br/>华电源软件</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://www.tecka.com/">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="static/img/sponsor/tecka_cubic.webp" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">TECKA<br/>台佳机电</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://www.pkpm.cn/">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="static/img/sponsor/pkpm_cubic.webp" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">PKPM<br/>构力科技</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://www.pkpm.cn/">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="static/img/sponsor/doe_cubic.webp" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">DOE<br/>美国能源署</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

        <!-- <hr class="solid my-3"> -->

        <!-- <div class="row mb-2">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="owl-carousel owl-theme nav-inside nav-inside-edge nav-squared nav-with-transparency nav-dark mt-3" data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': false}">
                    <div>
                        <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                            <img src="static/img/placeholder-img-short.webp" class="img-fluid border-radius-0" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                            <img src="static/img/placeholder-img-short.webp" class="img-fluid border-radius-0" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                            <img src="static/img/placeholder-img-short.webp" class="img-fluid border-radius-0" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="overflow-hidden">
                    <h2 class="text-color-dark font-weight-normal text-4 mb-0">Company <strong>Name</strong></h2>
                </div>
                <p>Description about the company, service or product. Donec volutpat nibh sit amet libero ornare non laoreet arcu luctus. Donec id arcu quis mauris euismod placerat sit amet ut metus. Sed imperdiet fringilla sem eget euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <ul class="list-unstyled text-2">
                    <li><strong class="text-color-dark">Delegate</strong> Name</li>
                    <li><strong class="text-color-dark">Contact</strong> sales@website.com</li>
                    <li><strong class="text-color-dark">Website</strong> <a href="#">www.yourwebsite.com</a></li>
                </ul>
            </div>
        </div> -->
        
        </div>
    </section>

    <section class="mb-5" style="text-align:center;">
        <h4>Bronze Sponsors</h4>

        <div class="row portfolio-list mt-4 pt-2">

            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://www.tecka.com/">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="static/img/sponsor/kst_cubic.webp" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">KST 开思拓</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://www.building-engineering.de/">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="static/img/sponsor/tian_cubic.webp" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">TIAN</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

            

            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://xoeytech.com/">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="static/img/sponsor/xoeytech_cubic.webp" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">XOEYTECH<br/>续翼建筑科技</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://design.glodon.com/web/itwo/#/index">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="static/img/sponsor/hongye_cubic.webp" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">鸿业科技</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

        </div>


    </section>

    <section class="mb-5" style="text-align:center;">
        <h4>Endorsing organizations</h4>

        <div class="row portfolio-list mt-4 pt-2">

            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://www.ashrae.org/">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="{{ url_for('static', filename='img/sponsor/ashrae_cubic.webp') }}" class="img-fluid border-radius-0" alt="ASHARE">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">ASHRAE</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://www.airah.org.au/">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="{{ url_for('static', filename='img/sponsor/airah_cubic.webp') }}" class="img-fluid border-radius-0" alt="AIRAH">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">AIRAH</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://www.cibse.org/">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="{{ url_for('static', filename='img/sponsor/cibse_cubic.webp') }}" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">CIBSE</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </section>
    

</div>
{% endblock %}