{% extends 'base.html' %}
{% block title %}Sponsors{% endblock %}

{% block styles %}
<style type="text/css">
.brand-logo-unique {
    display: inline-block;
    text-align:center;
    margin: 20px;
}
</style>
{% endblock %}}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Meet our <strong>Sponsors</strong></h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li class="active">Sponsor</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <!-- <section class="mb-5" style="text-align:center;">
        <h4>Platinum Sponsors</h4>

        <div class="row portfolio-list mt-4 pt-2">
            <div class="col-6 col-md-3 col-lg-2">
                <div class="portfolio-item">
                    <a href="https://www.eastac.com/">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="static/img/sponsor/hdy_cubic.webp" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-4">HDY<br/>华电源软件</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    
    <div class="row pt-5 my-5 text-center">
        <h4 class="text-color-dark font-weight-normal mb-4">Platinum Sponsors</h4>
        <div style="text-align: center; width: 100%; margin-bottom: 50px;">
            <div class="brand-logo-unique">
                <span><a href="https://www.eastac.com/" target="_blank"><img height="100" src="{{ url_for('static', filename='img/sponsor/hdy_index_cn.webp') }}" alt="HDY"/></a></span>
            </div>
            <div class="brand-logo-unique">
                <span><a href="https://www.tecka.com/" target="_blank"><img height="100" src="{{ url_for('static', filename='img/sponsor/tecka_index.webp') }}" alt="TECKA"/></a></span>
            </div>
            <div class="brand-logo-unique">
                <span><a href="https://www.pkpm.cn/" target="_blank"><img height="100" src="{{ url_for('static', filename='img/sponsor/pkpm_index.webp') }}" alt="PKPM"/></a></span>
            </div>
            <div class="brand-logo-unique">
                <span><a href="https://www.energy.gov/" target="_blank"><img height="100" src="{{ url_for('static', filename='img/sponsor/doe_index.webp') }}" alt="DOE"/></a></span>
            </div>
        </div>

        <h4 class="text-color-dark font-weight-normal my-4">Silver Sponsors</h4>
        <div style="text-align: center; width: 100%; margin-bottom: 50px;">
            <div class="brand-logo-unique">
                <span><a href="https://www.building-engineering.de/" target="_blank"><img height="110" src="{{ url_for('static', filename='img/sponsor/tian_index.webp') }}" alt="TIAN"/></a></span>
            </div>
            <div class="brand-logo-unique">
                <span><a href="http://www.found-hvac.com/" target="_blank"><img height="110" src="{{ url_for('static', filename='img/sponsor/ruiwu.webp') }}" alt="睿屋"/></a></span>
            </div>
            <div class="brand-logo-unique">
                <span><a href="https://www.mdpi.com/journal/architecture?ci=23923&si=26710&_utm_from=00541338be" target="_blank"><img height="130" src="{{ url_for('static', filename='img/sponsor/architecture.webp') }}" alt="architecture"/></a></span>
            </div>
            <div class="brand-logo-unique">
                <span><a href="https://www.mdpi.com/journal/buildings?ci=23923&si=26709&_utm_from=0222a19206" target="_blank"><img height="130" src="{{ url_for('static', filename='img/sponsor/buildings.webp') }}" alt="buildings"/></a></span>
            </div>
        </div>

        <h4 class="text-color-dark font-weight-normal my-4">Bronze Sponsors</h4>
        <div style="text-align: center; width: 100%; margin-bottom: 50px;">
            <div class="brand-logo-unique">
                <span><a href="http://www.spartek.cn/" target="_blank"><img height="90" src="{{ url_for('static', filename='img/sponsor/spartek_index.webp') }}" alt="SPARTEK"/></a></span>
            </div>
            <div class="brand-logo-unique">
                <span><a href="https://xoeytech.com/" target="_blank"><img height="100" src="{{ url_for('static', filename='img/sponsor/xoeytech_index.webp') }}" alt="XOEYTECH"/></a></span>
            </div>
            <div class="brand-logo-unique">
                <span><a href="https://www.youchuang.ltd/" target="_blank"><img height="100" src="{{ url_for('static', filename='img/sponsor/youchuang_index.webp') }}" alt="YOUCHUANG"/></a></span>
            </div>
        </div>

        <h4 class="text-color-dark font-weight-normal my-4">Endorsing Organizations</h4>
        <div style="text-align: center; width: 100%;">
            <div class="brand-logo-unique">
                <span><a href="https://www.ashrae.org/" target="_blank"><img height="120" src="{{ url_for('static', filename='img/sponsor/ashrae_cubic.webp') }}" alt="ASHRAE"/></a></span>
            </div>
            <div class="brand-logo-unique">
                <span><a href="https://www.airah.org.au/" target="_blank"><img height="120" src="{{ url_for('static', filename='img/sponsor/airah_cubic.webp') }}" alt="AIRAH"/></a></span>
            </div>
            <div class="brand-logo-unique">
                <span><a href="https://www.cibse.org/" target="_blank"><img height="120" src="{{ url_for('static', filename='img/sponsor/cibse_cubic.webp') }}" alt="CIBSE"/></a></span>
            </div>
        </div>
        <div>
            <div class="brand-logo-unique">
                <span><a href="http://ikcest-icity.org/" target="_blank"><img height="110" src="{{ url_for('static', filename='img/sponsor/ikcest_index.webp') }}" alt="IKCEST"/></a></span>
            </div>
            <div class="brand-logo-unique">
                <span><a href="http://wupen.org/" target="_blank"><img height="80" src="{{ url_for('static', filename='img/sponsor/wupen_index.webp') }}" alt="WUPEN"/></a></span>
            </div>
        </div>
    </div>


</div>
{% endblock %}