{% extends 'base.html' %}
{% block title %}Submit{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark"><strong>Submission</strong> Guide</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Sign-up</li>
                    <li class="active">Submit</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="mb-5">
        <div class="alert alert-success alert-dismissible" role="message">
            Upload slides, poster, and pre-recorded video for your presentation in ConfTool system before <b>August 31</b>.</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>

    <section class="mt-5">
        <h2>Presentation Modes</h2>
        <p>The author of the accepted research paper or project reports will be invited to present their work during BS2023. The designated types are ORAL and POSTER. If you attend the conference online, you can only choose oral presentation. All presenters need to finalize their slides, poster, videos and upload them to the <a href="https://www.conftool.pro/bs2023" target="_blank">ConfTool</a> system before August 31. (<a href="{{ url_for('guide_finalupload') }}" target="_blank">a step-by-step guide</a>)</p>

        <div class="row">
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/oral_fix.webp') }}" alt="">

                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="color: #000000;">Oral Presentation &nbsp; <i class="far fa-comment"></i></h4>
                        <p></p>
                        <p class="card-text">
                            Each academic session lasts 120 minutes, dedicated to a specific topic in the realm of building simulation. It allocates <b>15 minutes</b> for each oral presentation with slides, plus 2 minutes of Q&A organized flexibly by session chairs. There will be volunteers on site to help you with technical issues and cue you in about the remaining time.<p>
                        <p class="card-text">
                            You may follow your own style preparing the slides, by using the template down below as the front page. The slide size should be <b>16:9</b> for widescreen. Sans-serif fonts are recommended to increase readability. Please upload your slides beforehand to the ConfTool system.</p>
                        <ul>
                            <li>Public computer with an internet connection (Windows 11)</li>
                            <li>MS PowerPoint by default. PDF and HTML accepted</li>
                            <li>Upload compressed file pack if local resources are linked in slides</li>
                            <li>Embed fonts in the .pptx file if unusual fonts are used</li>
                            <li>Laser pointer provided</li>
                        </ul>
                        <p class="card-text">
                            <strong class="text-dark">Virtual attendees</strong> will join the online ZOOM conference room for virtual sessions. Same as the physical one, the virtual session allows <b>15 minutes pre-recorded video</b> for each presenter with 2 minutes of Q&A. To ensure a smooth program, please upload the video to the ConfTool system in advance. The ZOOM link will be available in the ConfTool conference agenda, and on the website.</p>
                        <p class="card-text">
                            Note that the virtual sessions are hosted each conference day during 7:00-9:00 and 20:00-22:00, open for all participants. Except for the plenary session (live-streaming), the sessions onsite are segregated from the virtual ones. Virtual attendees cannot join the discussion onsite, only can access the recordings published on the website.
                        </p>
                        <div class="d-grid">
                            <a href="{{ url_for('download', file_id=401, next=request.full_path) }}" target="_blank" class="btn btn-outline btn-quaternary mb-2">Slide template (.pptx)<span><i class="fas fa-arrow-down ms-1"></i></span></a>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="card ">
                    <img class="card-img-bottom" src="{{ url_for('static', filename='img/poster_.webp') }}" alt="">

                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="color: #000000;">Poster Presentation &nbsp; <i class="far fa-image"></i></h4>
                        <p></p>
                        <p class="card-text">Poster sessions are organized concurrently with coffee breaks. The attendees may visit the poster gallery and engage with the presenters while enjoying the refreshments. Choosing the poster presentation, you need to make an <b>A0-size</b> poster in color. A0 size equals 841 x 1189 mm or 33.1 x 46.8''. Follow the templates (in MS PowerPoint, Adobe Illustrator, or Photoshop) down below and lead your own creative design.</p>
                        <p class="card-text">The poster will be displayed both onsite and online. You are allowed to upload a 5-minute video as a brief introduction or supplement material (demo/promo). We will paste a QR code to the poster redirecting visitors to the online resources, so they may "engage" with you in your absence. If you have more to share via this QR code, contact secretariat@bs2023.org</p>
                        <p class="card-text">The poster (in JPG/PDF or source file) and the video need to be uploaded in the ConfTool system as the second and third final uploads. Other recommendations:</p>
                        <ul>
                            <li>A0 size, > 150 DPI, color printing on coated paper</li>
                            <li>Free content design with header and footer in line with templates</li>
                            <li>Two-column or four-column layout system is recommended</li>
                            <li>Using Sans-serif fonts (<a href="https://fonts.google.com/specimen/Montserrat" target="_blank">Montserrat</a>/<a href="https://fonts.google.com/specimen/Open+Sans" target="_blank">Open-Sans</a> for example)</li>
                            <li>Booth decoration allowed (sticky notes, tear-off flyer, etc.)</li>
                        </ul>
                        <p class="card-text">Bring your poster with you, or have it printed locally. Recognizing the inconveniences associated with transporting large posters, we offer <a href="#printing">services</a> for having your poster printed at local companies. Put up your poster on the registration day (Sept. 3rd). The poster wall is in a zigzag layout as depicted in the following mock-up.</p>
                        <div class="d-grid">
                            <a href="{{ url_for('download', file_id=402, next=request.full_path) }}" target="_blank" class="btn btn-outline btn-quaternary mb-2">Poster template (.pptx/.ai/.psd)<span><i class="fas fa-arrow-down ms-1"></i></span></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>


    <section class="mt-5" id="printing">
        <h4 class="text-4 font-weight-bold">Local Poster Printing &nbsp; <i class="fas fa-print"></i></h4>
        <p>We provide the poster printing service cooperated with local companies. The A0 poster will be printed in color, with 300 DPI, on self-adhesive paper coated by matte film. The service charges 7 USD (50 CNY) per each. There might be minor flaws at bleeds when the printer cuts the paper down. We are not responsible for any color discrepancy caused by RGB to CMYK conversion. Steps:</p>
        <ul>
            <li>Deliver your poster file to us via ConfTool "Final Upload"</li>
            <li>Transfer $7 to PayPal <a href="#printing">getech1018@hotmail.com</a> or ¥50 via <a href="#printing" id="button" aria-describedby="tooltip">Alipay</a>
                <div id="tooltip" role="tooltip">
                    <img src="static/img/payment_qr.png" style="width: 100px;">
                    <div id="arrow" data-popper-arrow></div>
                </div>
                , with the <strong>Contribution ID</strong> as a payment note</strong>.
            </li>
            <li>You receive an email once we confirm your payment and start processing the request.</li>
            <li>Fetch your poster at conference check-in on September 3rd.</li>
        </ul>
    </section>

    <section class="mt-5 mb-2">
        <hr>
    </section>


    <section class="mt-5 mb-2">
        <h2>Contribution Types</h2>
        <p>As a platform promoting communications from both academy and industry world, BS2023 calls for research papers, project reports and workshop proposals, to best represent the latest breakthroughs in the realm of building simulation.<br>
        If you would like to purpose an event such as invited speech or panel discussion, please contact <a href="mailto:info@bs2023.org">info@bs2023.org</a>.</p>

        <div class="row">
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="color: #700f24;">Research paper</h4>
                        <p class="card-text">The research paper is 8 pages long, aiming for the latest breakthroughs in the application of building simulations. All papers accepted and presented will be published in the Conference Proceedings, indexed by EI, and open-accessed on the IBPSA website.</p>
                        <div class="d-grid">
                            <a href="{{ url_for('download', file_id=231, next=request.full_path) }}" target="_blank" class="btn btn-outline btn-quaternary btn-effect-4 mb-2">Paper template Word <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                            <a href="{{ url_for('download', file_id=232, next=request.full_path) }}" target="_blank" class="btn btn-outline btn-quaternary mb-2">Paper template LaTeX <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="color: #0f4070;">Project report</h4>
                        <p class="card-text">The 4-page-long project report is case-focused, best demonstrating an effective application of the building simulation. This type of contribution only requires an extended abstract and will not be published in the conference proceedings. We are expecting 1~2 sessions for this kind of contribution.</p>
                        <div class="d-grid">
                            <a href="{{ url_for('download', file_id=221, next=request.full_path) }}" target="_blank" class="btn btn-outline btn-quaternary btn-effect-4 mb-2">Report template Word <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                            <a href="{{ url_for('download', file_id=222, next=request.full_path) }}" target="_blank" class="btn btn-outline btn-quaternary mb-2">Report template LaTeX <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="color: #084708;">Workshop</h4>
                        <p class="card-text">Workshops target the promotion and education of simulation techniques, such as software demos, vendor-sponsored training, panel discussion, or student projects. Submissions will be evaluated on a first-come-first-served basis, provided that there is a clear link with building simulation. All workshops are self-financed.</p>
                        <div class="d-grid">
                            <a href="#" class="btn btn-outline btn-quaternary mb-2 disabled">Template coming soon...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <h2>Instructions</h2>
        <p>BS2023 continues to use ConfTool for abstract submission. All authors with an accepted abstract are invited to upload their manuscript (paper, project report and workshop proposal) in the ConfTool system before April 3. Please refer to the templates above. Each contribution will be evaluated through a double-blind peer review, scored and subsequently accepted for presentation. The scientific committee reserves the right to classify your work in terms of relevant track, contribution or presentation type.</p>
        <p>Check out the following bullets before you continue:</p>
        <ul>
            <li>Please make a new full-text submission in the ConfTool system</li>
            <li>Please use the templates provided when preparing your manuscripts.</li>
            <li>The manuscript of the research paper should be within 8 pages, while the project report within 4.</li>
            <li>A PDF version of your manuscript must be uploaded. (<10MB)</li>
            <li>An editable version of your manuscript must be uploaded. It depends on which template you are using (Word/LaTeX). The LaTeX files must be compilable and packed in a ZIP file. (<10MB)</li>
            <li>Please do not include names, affiliations and acknowledgments in your draft for review. </li>
            <li>The updated submission deadline is <strong>April 3, 2023</strong>. (Midnight CST)</li>
        </ul>
        <p>If you encounter any technical issues, please refer to this <a href="{{ url_for('guide_author') }}" target="_blank">user guide</a> or <a href="{{ url_for('contact') }}" target="_blank">contact</a> us.</p> 
        <p> </p>
        <div class="row">
            <div class="col-md-12">
                <div class="d-grid">
                    <a href="https://conftool.pro/bs2023" class="btn btn-secondary btn-effect-5 disable font-weight-semi-bold px-4 btn-py-2 text-3 text-color-hover-white ms-2" target="_blank">Submit Manuscript</a>
                    <!-- <a href="#" class="btn btn-outline btn-quaternary mb-2 disabled">Submission open soon</a> -->
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top: 80px;" id="topic">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h2>Topics</h2>
                <p><strong>5</strong> themes × <strong>25</strong> topics</p>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Simulating future metropolis</h4>
                <ul class="list-unstyled">
                    <li>Regulations/codes for carbon neutrality</li>
                    <li>Urban-scale simulation</li>
                    <li>District energy system</li>
                    <li>Demand response & interactive grid</li>
                    <li>Urban renaissance & cultural heritage</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Performance-driven design</h4>
                <ul class="list-unstyled">
                    <li>Parametric/Automatic design</li>
                    <li>Active/Passive/Zero-carbon buildings</li>
                    <li>Weather & climate adaptation</li>
                    <li>Building physics</li>
                    <li>CFD & airflow</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Smart building systems</h4>
                <ul class="list-unstyled">
                    <li>Heating, ventilation and air-conditioning</li>
                    <li>Commissioning, diagnostics & control</li>
                    <li>Validation, calibration & uncertainty</li>
                    <li>Simulation vs. reality</li>
                    <li>Optimization</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Modeling for the digital world</h4>
                <ul class="list-unstyled">
                    <li>Big data & machine learning</li>
                    <li>BIM & interoperability</li>
                    <li>Advanced modeling techniques</li>
                    <li>New software development</li>
                    <li>Education</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Human-centered simulation/design</h4>
                <ul class="list-unstyled">
                    <li>Occupant behavior</li>
                    <li>Thermal comfort</li>
                    <li>Indoor environmental quality</li>
                    <li>Microclimate</li>
                    <li>Healthy buildings</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="mt-5" id="policy">
        <h2>Policies</h2>
        <p>You are required to accept the following conditions during submission.</p>
        <div class="row">
            <div class="col-lg-6">
                <p><strong>(1)</strong> The author(s) and presenter(s) will automatically grant to IBPSA a nonexclusive, royalty-free, perpetual, worldwide, irrevocable, sub-licensable, and transferable license to publish the abstract(s), research paper(s) and/or presentation(s) and/or digital posters (with unmodified content) in any fashion (including but not limited to inclusion in the Building Simulation 2023 printed and electronic proceedings, via electronic means such as the world wide web, and inclusion in future compilations of presentations, also including online-exploitation via electronic means in order to organize an e-conference, regardless of the accessibility through paying registration). This "nonexclusive" license means that the author(s) are not restricted as to future use of the material except that exclusive rights cannot be granted to another.</p>
                <p><strong>(2)</strong> The author(s) and presenter(s) grant and assign to IBPSA or its agent the nonexclusive rights to record the presentation at the Building Simulation 2023 conference in Shanghai, China. These rights give IBPSA the unlimited license to use, modify (format, not content), sell and distribute the recorded presentation (including voice of the presenter(s)).</p>
            </div>
            <div class="col-lg-6 divider-left-border">
                <p><strong>(3)</strong> The author(s) and presenter(s) affirm that they have the right to grant the license specified in (1) and (2), that is, publication by IBPSA or its licensees will not be in conflict with existing copyright or other restrictions.</p>
                <p><strong>(4)</strong> The author(s) and presenter(s) acknowledge that acceptance of the abstract(s), research paper(s) and/or presentation(s) does not imply IBPSA's endorsement of or agreement with the ideas presented. It is understood that IBPSA does not accept responsibility for any content within the abstract(s), research paper(s) and/or presentation(s) that may be found to be libelous, infringing on copyright or other intellectual property rights, invading individual privacy or to be otherwise unlawful. Under no circumstances shall IBPSA be liable for any damages resulting from use of information included in the presentation.</p>
                <p><strong>(5)</strong> Finally, the undersigned confirms that he/she has the power and authority to make and execute this agreement. For jointly authored works the signing author/presenter signs as authorized agent for the others.</p>
            </div>
        </div>
    </section>

</div>
{% endblock %}

{% block scripts %}
<!-- <script src="{{ url_for('static', filename='vendor/jquery.gmap/jquery.gmap.min.js') }}"></script> -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script>
  const button = document.querySelector('#button');
  const tooltip = document.querySelector('#tooltip');

  const popperInstance = Popper.createPopper(button, tooltip, {
    modifiers: [
      {
        name: 'offset',
        options: {
          offset: [0, 8],
        },
      },
    ],
  });

  function show() {
    // Make the tooltip visible
    tooltip.setAttribute('data-show', '');

    // Enable the event listeners
    popperInstance.setOptions((options) => ({
      ...options,
      modifiers: [
        ...options.modifiers,
        { name: 'eventListeners', enabled: true },
      ],
    }));

    // Update its position
    popperInstance.update();
  }

  function hide() {
    // Hide the tooltip
    tooltip.removeAttribute('data-show');

    // Disable the event listeners
    popperInstance.setOptions((options) => ({
      ...options,
      modifiers: [
        ...options.modifiers,
        { name: 'eventListeners', enabled: false },
      ],
    }));
  }

  const showEvents = ['mouseenter', 'focus'];
  const hideEvents = ['mouseleave', 'blur'];

  showEvents.forEach((event) => {
    button.addEventListener(event, show);
  });

  hideEvents.forEach((event) => {
    button.addEventListener(event, hide);
  });
</script>
{% endblock %}