{% extends 'base.html' %}
{% block title %}Submit{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Call for <strong>Paper</strong>/<strong>Report</strong></h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Sign-up</li>
                    <li class="active">Submit</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="mb-5">
        <div class="alert alert-success alert-dismissible" role="message">
            Full-text submission deadline postponed to <del>March 27</del> April 3. </a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>

    <section class="mb-2">
        <h2>Contribution Types</h2>
        <p>As a platform promoting communications from both academy and industry world, BS2023 calls for research papers, project reports and workshop proposals, to best represent the latest breakthroughs in the realm of building simulation.<br>
        If you would like to purpose an event such as invited speech or panel discussion, please contact <a href="mailto:info@bs2023.org">info@bs2023.org</a>.</p>

        <div class="row">
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="color: #700f24;">Research paper</h4>
                        <p class="card-text">The research paper is 8-page-long, aiming for the latest breakthroughs in the application of building simulations. All papers accepted and presented will be published in the Conference Proceedings, which are indexed by EI and open-accessed on IBPSA website.</p>
                        <div class="d-grid">
                            <a href="{{ url_for('download', file_id=231, next=request.full_path) }}" target="_blank" class="btn btn-outline btn-quaternary btn-effect-4 mb-2">Paper template Word <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                            
                            <a href="{{ url_for('download', file_id=232, next=request.full_path) }}" target="_blank" class="btn btn-outline btn-quaternary mb-2">Paper template LaTeX <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="color: #0f4070;">Project report</h4>
                        <p class="card-text">The 4-page-long project report is case-focused, best demonstrating an effective application of the building simulation. This type of contribution only requires an extended abstract and will not be published in the conference proceedings. We are expecting 1~2 sessions for this kind of contribution.</p>
                        <div class="d-grid">
                            <a href="{{ url_for('download', file_id=221, next=request.full_path) }}" target="_blank" class="btn btn-outline btn-quaternary btn-effect-4 mb-2">Report template Word <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                            
                            <a href="{{ url_for('download', file_id=222, next=request.full_path) }}" target="_blank" class="btn btn-outline btn-quaternary mb-2">Report template LaTeX <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="color: #084708;">Workshop</h4>
                        <p class="card-text">Workshops are open for the promotion and education of simulation techniques, in forms of software demo, vendor-sponsored training, panel discussion or student projects. Submissions will be evaluated on a first-come-first-served basis, provided that there is a clear link with building simulation. All workshops are self-financed.</p>
                        <div class="d-grid">
                            <a href="#" class="btn btn-outline btn-quaternary mb-2 disabled">Template coming soon...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <h2>Instructions</h2>
        <p>BS2023 continues to use <strong>ConfTool</strong> for abstract submission. All authors with an accepted abstract are invited to upload their manuscript (paper, project report and workshop proposal) in the ConfTool system before <del>March 27</del> <b>April 3</b>. Please refer to the templates above. Each contribution will be evaluated through a double-blind peer review, scored and subsequently accepted for presentation. The scientific committee reserves the right to classify your work in terms of relevant track, contribution or presentation type.</p>
        <p>Check out the following bullets before you continue:</p>
        <ul>
            <li>You need to make a new full-text submission in the ConfTool system other than the abstract.</li>
            <li>Please use the templates provided when preparing your manuscripts.</li>
            <li>The manuscript of the research paper should be within 8 pages while the project report within 4 pages.</li>
            <li>A PDF version of your manuscript must be uploaded. (<10MB)</li>
            <li>An editable version of your manuscript must be uploaded. It depends on which template you are using (Word/LaTeX). The LaTeX files must be compilable and packed in a ZIP file. (<10MB)</li>
            <li>Please do not include names, affiliations and acknowledgements in your draft for review. </li>
            <li>The updated submission deadline is <del>March 27</del> <strong>April 3, 2023</strong>. (Midnight CST)</li>
        </ul>
        <p>If you encounter any technical issues, please refer to this <a href="{{ url_for('guide_author') }}" target="_blank">user guide</a> or <a href="{{ url_for('contact') }}" target="_blank">contact</a> us.</p> 
        <p> </p>
        <div class="row">
            <div class="col-md-12">
                <div class="d-grid">
                    <a href="https://conftool.pro/bs2023" class="btn btn-secondary btn-effect-5 disable font-weight-semi-bold px-4 btn-py-2 text-3 text-color-hover-white ms-2" target="_blank">Submit Manuscript</a>
                    <!-- <a href="#" class="btn btn-outline btn-quaternary mb-2 disabled">Submission open soon</a> -->
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top: 80px;" id="topic">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h2>Topics</h2>
                <p><strong>5</strong> themes × <strong>25</strong> topics</p>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Simulating future metropolis</h4>
                <ul class="list-unstyled">
                    <li>Regulations/codes for carbon neutrality</li>
                    <li>Urban-scale simulation</li>
                    <li>District energy system</li>
                    <li>Demand response & interactive grid</li>
                    <li>Urban renaissance & cultural heritage</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Performance-driven design</h4>
                <ul class="list-unstyled">
                    <li>Parametric/Automatic design</li>
                    <li>Active/Passive/Zero-carbon buildings</li>
                    <li>Weather & climate adaptation</li>
                    <li>Building physics</li>
                    <li>CFD & airflow</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Smart building systems</h4>
                <ul class="list-unstyled">
                    <li>Heating, ventilation and air-conditioning</li>
                    <li>Commissioning, diagnostics & control</li>
                    <li>Validation, calibration & uncertainty</li>
                    <li>Simulation vs. reality</li>
                    <li>Optimization</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Modeling for the digital world</h4>
                <ul class="list-unstyled">
                    <li>Big data & machine learning</li>
                    <li>BIM & interoperability</li>
                    <li>Advanced modeling techniques</li>
                    <li>New software development</li>
                    <li>Education</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Human-centered simulation/design</h4>
                <ul class="list-unstyled">
                    <li>Occupant behavior</li>
                    <li>Thermal comfort</li>
                    <li>Indoor environmental quality</li>
                    <li>Microclimate</li>
                    <li>Healthy buildings</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <h2>Presentation Types</h2>
        <p>The author of the accepted research paper or project reports will be invited to present their work during BS2023. The designated types are ORAL and POSTER presentation. Please indicate your preference when submitting the manuscript.<br>
        <b>ORAL</b> allows the speakers a 15-20 minutes time slot to present their work during the parallel sessions. It is the most traditional and welcomed way to introduce the research thoroughly. BS2023 continues to be hybrid, but we encourage you to participate in the physical one for a better experience since all travel restrictions to China have been lifted.<br>
        <b>POSTER</b> provides a more interactive discussion. There will be poster sessions for you to dive into your research and social networking at the same time. To reach a wider audience, we will provide poster stands/kiosks on-site and on the website. All posters are expected to be attended during the poster session. It is not recommended for online attendees to choose this type of presentation. We will decide whether to use online poster sessions based on the overall preference of participants.</p>

    </section>

    <section class="mt-5" id="policy">
        <h2>Policies</h2>
        <p>You are required to accept the following conditions during submission.</p>
        <div class="row">
            <div class="col-lg-6">
                <p><strong>(1)</strong> The author(s) and presenter(s) will automatically grant to IBPSA a nonexclusive, royalty-free, perpetual, worldwide, irrevocable, sub-licensable, and transferable license to publish the abstract(s), research paper(s) and/or presentation(s) and/or digital posters (with unmodified content) in any fashion (including but not limited to inclusion in the Building Simulation 2023 printed and electronic proceedings, via electronic means such as the world wide web, and inclusion in future compilations of presentations, also including online-exploitation via electronic means in order to organize an e-conference, regardless of the accessibility through paying registration). This "nonexclusive" license means that the author(s) are not restricted as to future use of the material except that exclusive rights cannot be granted to another.</p>
                <p><strong>(2)</strong> The author(s) and presenter(s) grant and assign to IBPSA or its agent the nonexclusive rights to record the presentation at the Building Simulation 2023 conference in Shanghai, China. These rights give IBPSA the unlimited license to use, modify (format, not content), sell and distribute the recorded presentation (including voice of the presenter(s)).</p>
            </div>
            <div class="col-lg-6 divider-left-border">
                <p><strong>(3)</strong> The author(s) and presenter(s) affirm that they have the right to grant the license specified in (1) and (2), that is, publication by IBPSA or its licensees will not be in conflict with existing copyright or other restrictions.</p>
                <p><strong>(4)</strong> The author(s) and presenter(s) acknowledge that acceptance of the abstract(s), research paper(s) and/or presentation(s) does not imply IBPSA's endorsement of or agreement with the ideas presented. It is understood that IBPSA does not accept responsibility for any content within the abstract(s), research paper(s) and/or presentation(s) that may be found to be libelous, infringing on copyright or other intellectual property rights, invading individual privacy or to be otherwise unlawful. Under no circumstances shall IBPSA be liable for any damages resulting from use of information included in the presentation.</p>
                <p><strong>(5)</strong> Finally, the undersigned confirms that he/she has the power and authority to make and execute this agreement. For jointly authored works the signing author/presenter signs as authorized agent for the others.</p>
            </div>
        </div>
    </section>

</div>
{% endblock %}