{% extends 'base.html' %}
{% block title %}Submit{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Call for <strong>Abstracts</strong>!</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Sign-up</li>
                    <li class="active">Submit</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <section class="mb-2">
        <h2>Type of Contributions</h2>
        <p>BS2023 is now open for abstracts! As a platform promoting communications from both academy and industry world, BS2023 calls for research papers, project reports and workshop proposals, to best represent the latest breakthroughs in the realm of building simulation.<br>
        If you mean to make proposals such as invited speech, panel discussion or other events, please contact <a href="mailto:info@bs2023.org">info@bs2023.org</a>.</p>

        <div class="row">
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="color: #700f24;">Research paper</h4>
                        <p class="card-text">The high quality research work is always the focus of our conference. We use the double-blind peer review. All papers accepted and presented will be published in the Conference Proceedings, which are indexed by Scopes and open-accessed on IBPSA website. Top-ranked ones (regardless of the presentation type) will be awarded and proposed to top journals for further <a href="{{ url_for('publication') }}">publication</a>. Please refer to the templates when submitting your full-paper, after the abstract is accepted. </p>
                        <!--
                        <div class="d-grid">
                            <a href="{{ url_for('download', file_id=231, next=request.full_path) }}" class="btn btn-outline btn-quaternary btn-effect-4 mb-2 disabled">Manuscript template Word <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                            <a href="{{ url_for('download', file_id=232, next=request.full_path) }}" class="btn btn-outline btn-quaternary mb-2 disabled">Manuscript template LaTeX <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                        </div>
                    -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="color: #0f4070;">Project report</h4>
                        <p class="card-text">The project report is case-focused, best demonstrating an effective application of the building simulation. It could be the report of real-world projects, the work collection of student workshops, or the simulation with actual performance data. On the acceptance of your abstract, you only need to submit an extended abstract, following the template below. We are expecting 1~2 sessions for this kind of contribution.</p>
                        <!--
                        <div class="d-grid">
                            <a href="#" class="btn btn-outline btn-quaternary mb-2 disabled">Report template Word <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold" style="color: #084708;">Workshop</h4>
                        <p class="card-text">Workshops are open for the promotion and education of simulation techniques, in forms of software demo, vendor-sponsored training, panel discussion or student projects. Submissions will be evaluated on a first-come-first-served basis, provided that there is a clear link with building simulation. You need to submit a detailed workshop proposal after the abstract is accepted. All workshops are self-financed (either paid by the workshop organizer or by a participation fee).</p>
                        <!--
                        <div class="d-grid">
                            <a href="#" class="btn btn-outline btn-quaternary mb-2 disabled">Proposal template Word <span><i class="fas fa-arrow-down ms-1"></i></span></a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top: 80px;" id="topic">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h2>Topics to be covered</h2>
                <p><strong>5</strong> themes × <strong>25</strong> topics</p>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Simulating future metropolis</h4>
                <ul class="list-unstyled">
                    <li>Regulations/codes for carbon neutrality</li>
                    <li>Urban-scale simulation</li>
                    <li>District energy system</li>
                    <li>Demand response & interactive grid</li>
                    <li>Urban renaissance & cultural heritage</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Performance-driven design</h4>
                <ul class="list-unstyled">
                    <li>Parametric/Automatic design</li>
                    <li>Active/Passive/Zero-carbon buildings</li>
                    <li>Weather & climate adaptation</li>
                    <li>Building physics</li>
                    <li>CFD & airflow</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Smart building systems</h4>
                <ul class="list-unstyled">
                    <li>Heating, ventilation and air-conditioning</li>
                    <li>Commissioning, diagnostics & control</li>
                    <li>Validation, calibration & uncertainty</li>
                    <li>Simulation vs. reality</li>
                    <li>Optimization</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Modeling for the digital world</h4>
                <ul class="list-unstyled">
                    <li>Big data & machine learning</li>
                    <li>BIM & interoperability</li>
                    <li>Advanced modeling techniques</li>
                    <li>New software development</li>
                    <li>Education</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-12 topic-list">
                <h4 class="card-title mb-1 text-4 font-weight-semibold">Human-centered simulation/design</h4>
                <ul class="list-unstyled">
                    <li>Occupant behavior</li>
                    <li>Thermal comfort</li>
                    <li>Indoor environmental quality</li>
                    <li>Microclimate</li>
                    <li>Healthy buildings</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <h2>Presentation types</h2>
        <p>The author of the accepted research paper or project reports will be invited to present their work during BS2023. The designated types are <strong>Oral presentation</strong> and <strong>Poster presentation</strong>. Please indicate your preference when you submit an abstract.<br>
        A thorough oral presentation and in-depth discussion are indispensable for BS2023. We plan to give all intended presenters the chance to demonstrate their work in person. Depending on the number of participants, the oral presentation may take the form of full-speech, short-speak, or flash talks. The committee would best organize it on the knowledge of your preference.<br>
        The poster provides a more interactive discussion. We aim to spare stand-alone slots in the conference program to make it as effective as possible. With the low-carbon vision, the dynamic poster may have a chance to be displayed in LED kiosks.</p>
    </section>
    
    <section class="mt-5">
        <h2>Submission</h2>
        <p>Please redirect to <strong>ConfTool</strong> for abstract submission. The call-for-abstracts ends on October 29, 2022. After registration to the system, you may submit a brief abstract of your contribution in plain text, no need for template. All abstracts will be evaluated through a double-blind peer review, scored and subsequently accepted for full-paper submission or rejected. The review will look at the relevance to the BS2023 themes, clarity of content, interest to conference attendees... The scientific committee reserves the right to classify your work in terms of relevant track, contribution type or presentation form.</p>
        <p>Check out the following bullets before you continue:</p>
        <ul>
            <li> One of the <a href="#topic">topics</a> listed above must be designated for each abstract.</li>
            <li><strong>English</strong> only. Max <strong>800</strong> words. 3-5 key words. Max <strong>3</strong> abstracts for each presenter.</li>
            <li>You don't need a template or other files uploaded for your abstract.</li>
            <li>By submitting an abstract the author(s) agree with the following policies.</li>
            <li>The abstract submission deadline is <strong>October 29, 2022</strong>, 24:00 GMT+8.</li>
        </ul>
        <p>If you find any difficulties using the conference system, you may refer to this <a href="{{ url_for('guide_author') }}" target="_blank">user guide</a> or <a href="{{ url_for('contact') }}" target="_blank">contact</a> us.</p>
        <div class="row">
            <div class="col-md-12">
                <div class="d-grid">
                    <a href="https://conftool.pro/bs2023" class="btn btn-secondary btn-effect-5 font-weight-semi-bold px-4 btn-py-2 text-3 text-color-hover-white ms-2" target="_blank">Submit now!</a>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5" id="policy">
        <h2>Policies</h2>
        <p>You are required to accept the following conditions during submission.</p>
        <div class="row">
            <div class="col-lg-6">
                <p><strong>(1)</strong> The author(s) and presenter(s) will automatically grant to IBPSA a nonexclusive, royalty-free, perpetual, worldwide, irrevocable, sub-licensable, and transferable license to publish the abstract(s), research paper(s) and/or presentation(s) and/or digital posters (with unmodified content) in any fashion (including but not limited to inclusion in the Building Simulation 2023 printed and electronic proceedings, via electronic means such as the world wide web, and inclusion in future compilations of presentations, also including online-exploitation via electronic means in order to organize an e-conference, regardless of the accessibility through paying registration). This "nonexclusive" license means that the author(s) are not restricted as to future use of the material except that exclusive rights cannot be granted to another.</p>
                <p><strong>(2)</strong> The author(s) and presenter(s) grant and assign to IBPSA or its agent the nonexclusive rights to record the presentation at the Building Simulation 2023 conference in Shanghai, China. These rights give IBPSA the unlimited license to use, modify (format, not content), sell and distribute the recorded presentation (including voice of the presenter(s)).</p>
            </div>
            <div class="col-lg-6 divider-left-border">
                <p><strong>(3)</strong> The author(s) and presenter(s) affirm that they have the right to grant the license specified in (1) and (2), that is, publication by IBPSA or its licensees will not be in conflict with existing copyright or other restrictions.</p>
                <p><strong>(4)</strong> The author(s) and presenter(s) acknowledge that acceptance of the abstract(s), research paper(s) and/or presentation(s) does not imply IBPSA's endorsement of or agreement with the ideas presented. It is understood that IBPSA does not accept responsibility for any content within the abstract(s), research paper(s) and/or presentation(s) that may be found to be libelous, infringing on copyright or other intellectual property rights, invading individual privacy or to be otherwise unlawful. Under no circumstances shall IBPSA be liable for any damages resulting from use of information included in the presentation.</p>
                <p><strong>(5)</strong> Finally, the undersigned confirms that he/she has the power and authority to make and execute this agreement. For jointly authored works the signing author/presenter signs as authorized agent for the others.</p>
            </div>
        </div>
    </section>

</div>
{% endblock %}