{% extends 'base.html' %}
{% block title %}Survey{% endblock %}

{% block styles %}
<style type="text/css">
    .q-hidden {
        display: none;
    }

    #virtualqueries {
        display: none;
    }

    #physicalqueries {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Event <strong>Survey</strong></h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>About</li>
                    <li class="active">Survey</li>
                </ul>
            </div>
        </div>
    </div>
</section>
 
<div class="container pt-2 pb-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card my-5" style="background-color: #f9f9f9">
                <div class="card-body">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                    <div>
                        {% for category, message in messages %}
                        {% if category == 'success' %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert" id="faded">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <form class="contact-form" action="{{ url_for('survey') }}" method="POST" enctype="multipart/form-data">
                        <!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> -->
                        {{ form_survey.hidden_tag() }}

                        <label class="form-label mb-1 font-weight-bold">Choose your identity:</label>

                        <div class="row">
                            <div class="col-md-3 form-group">
                                {{ form_survey.is_author(value="q-author", class="id-disable") }}
                                {{ form_survey.is_author.label(class="form-check-label") }}
                            </div>
                            <div class="col-md-3 form-group">
                                {{ form_survey.is_reviewer(value="q-reviewer", class="id-disable") }}
                                {{ form_survey.is_reviewer.label(class="form-check-label") }}
                            </div>
                            <div class="col-md-3 form-group">
                                {{ form_survey.is_exhibitor(value="q-exhibitor", class="id-disable") }}
                                {{ form_survey.is_exhibitor.label(class="form-check-label") }}
                            </div>
                            <div class="col-md-3 form-group">
                                {{ form_survey.is_other(value="q-other", class="id-other") }}
                                {{ form_survey.is_other.label(class="form-check-label") }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="form-label mb-1 text-2">Attendance mode</label>
                                {{ form_survey.qA(class="form-select form-control h-auto", id="attendance-mode") }}
                                {% for error in form_survey.qA.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="form-label mb-1 text-2">What type of institution do you work for?</label>
                                {{ form_survey.qB(class="form-select form-control h-auto") }}
                                {% for error in form_survey.qB.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div class="form-group col-md-6">
                                <label class="form-label mb-1 text-2">What is the nature of your work?</label>
                                {{ form_survey.qC(class="form-select form-control h-auto") }}
                                {% for error in form_survey.qC.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <hr class="my-4">

                        <!-- questions for all attendees -->

                        <div style="margin-bottom: 50px;">
                            <label class="form-label mb-1 font-weight-bold">1. How useful did you find the conference overall?</label>
                            <div>
                                {% for subfield in form_survey.q01 %}
                                <div class="form-check form-check-inline">
                                    <tr>
                                        <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                        <td>{{ subfield.label(class="form-check-label") }}</td>
                                    </tr>
                                </div>
                                {% endfor %}
                            </div>
                            {% for error in form_survey.q01.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div style="margin-bottom: 50px;" class="q-hidden q-author">
                            <label class="form-label mb-1 font-weight-bold">2. As a presenter/author, how did you find the review process?</label>
                            <div>
                                {% for subfield in form_survey.q02 %}
                                <div class="form-check form-check-inline">
                                    <tr>
                                        <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                        <td>{{ subfield.label(class="form-check-label") }}</td>
                                    </tr>
                                </div>
                                {% endfor %}
                            </div>
                            {% for error in form_survey.q02.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div style="margin-bottom: 50px;" class="q-hidden q-reviewer">
                            <label class="form-label mb-1 font-weight-bold">3. As a reviewer, how did you find the review process?</label>
                            <div>
                                {% for subfield in form_survey.q03 %}
                                <div class="form-check form-check-inline">
                                    <tr>
                                        <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                        <td>{{ subfield.label(class="form-check-label") }}</td>
                                    </tr>
                                </div>
                                {% endfor %}
                            </div>
                            {% for error in form_survey.q03.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div style="margin-bottom: 50px;">
                            <label class="form-label mb-1 font-weight-bold">4. How useful is the website?</label>
                            <div>
                                {% for subfield in form_survey.q04 %}
                                <div class="form-check form-check-inline">
                                    <tr>
                                        <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                        <td>{{ subfield.label(class="form-check-label") }}</td>
                                    </tr>
                                </div>
                                {% endfor %}
                            </div>
                            {% for error in form_survey.q04.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div style="margin-bottom: 50px;">
                            <label class="form-label mb-1 font-weight-bold">5. How do you rate the conference fees?</label>
                            <div>
                                {% for subfield in form_survey.q05 %}
                                <div class="form-check form-check-inline">
                                    <tr>
                                        <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                        <td>{{ subfield.label(class="form-check-label") }}</td>
                                    </tr>
                                </div>
                                {% endfor %}
                            </div>
                            {% for error in form_survey.q05.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div style="margin-bottom: 50px;">
                            <label class="form-label mb-1 font-weight-bold">6. How useful did you find the keynote speech?</label>
                            <div>
                                {% for subfield in form_survey.q06 %}
                                <div class="form-check form-check-inline">
                                    <tr>
                                        <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                        <td>{{ subfield.label(class="form-check-label") }}</td>
                                    </tr>
                                </div>
                                {% endfor %}
                            </div>
                            {% for error in form_survey.q06.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div style="margin-bottom: 50px;">
                            <label class="form-label mb-1 font-weight-bold">7. How do you rate the overall quality of technical papers?</label>
                            <div>
                                {% for subfield in form_survey.q07 %}
                                <div class="form-check form-check-inline">
                                    <tr>
                                        <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                        <td>{{ subfield.label(class="form-check-label") }}</td>
                                    </tr>
                                </div>
                                {% endfor %}
                            </div>
                            {% for error in form_survey.q07.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div style="margin-bottom: 50px;">
                            <label class="form-label mb-1 font-weight-bold">8. How did you find the length of the conference / number of days?</label>
                            <div>
                                {% for subfield in form_survey.q08 %}
                                <div class="form-check form-check-inline">
                                    <tr>
                                        <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                        <td>{{ subfield.label(class="form-check-label") }}</td>
                                    </tr>
                                </div>
                                {% endfor %}
                            </div>
                            {% for error in form_survey.q08.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>


                        <div style="margin-bottom: 50px;">
                            <label class="form-label mb-1 font-weight-bold">9. How did you hear about the building simulation conference?</label>
                            <div>
                                {% for subfield in form_survey.q09 %}
                                <div class="form-check">
                                    <tr>
                                        <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                        <td>{{ subfield.label(class="form-check-label") }}</td>
                                    </tr>
                                </div>
                                {% endfor %}
                            </div>
                            {% for error in form_survey.q09.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div style="margin-bottom: 50px;">
                            <label class="form-label mb-1 font-weight-bold">10. Will you attend the next Building Simulation Conference <a href="https://bs2025.org" target="_blank">BS2025</a> in Brisbane, Australia?</label>
                            <div>
                                {% for subfield in form_survey.q10 %}
                                <div class="form-check form-check-inline">
                                    <tr>
                                        <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                        <td>{{ subfield.label(class="form-check-label") }}</td>
                                    </tr>
                                </div>
                                {% endfor %}
                            </div>
                            {% for error in form_survey.q10.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div style="margin-bottom: 50px;">
                            <label class="form-label mb-1 font-weight-bold">11. Did you attend the last Building Simulation Conference BS2021 in Brussels, Belgium?</label>
                            <div>
                                {% for subfield in form_survey.q11 %}
                                <div class="form-check form-check-inline">
                                    <tr>
                                        <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                        <td>{{ subfield.label(class="form-check-label") }}</td>
                                    </tr>
                                </div>
                                {% endfor %}
                            </div>
                            {% for error in form_survey.q11.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <hr style="margin-bottom: 50px;">

                        <!-- questions for physical attendees -->

                        <div id="physicalqueries">
                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">12. How did you find the meeting facilities and location?</label>
                                <div>
                                    {% for subfield in form_survey.p01 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.p01.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">13. How did you find the pick-up/shuttle bus service?<span style="color: #cd563e;"> +</span></label>
                                <div>
                                    {% for subfield in form_survey.p02 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.p02.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">14. Was there sufficient time to network and socialize?</label>
                                <div>
                                    {% for subfield in form_survey.p03 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.p03.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">15. How did you find the exhibition in general?</label>
                                <div>
                                    {% for subfield in form_survey.p04 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.p04.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">16. What did you think of the scientific quality of the <a href="https://bs2023.org/gallery" target="_blank" style="color: #777777; text-decoration: underline;">poster session</a>?</label>
                                <div>
                                    {% for subfield in form_survey.p05 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.p05.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">17. How would you rate the social program (reception, banquet, river cruise)?</label>
                                <div>
                                    {% for subfield in form_survey.p06 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.p06.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">18. The venue and catering were suitable for the conference?</label>
                                <div>
                                    {% for subfield in form_survey.p07 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.p07.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">19. How did you rate the signage/guide system (guidebook, inquiry, sign)?<span style="color: #cd563e;"> +</span></label>
                                <div>
                                    {% for subfield in form_survey.p08 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.p08.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- questions for virtual attendees  -->

                        <div id="virtualqueries">
                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">12. How was the quality of the audio?</label>
                                <div>
                                    {% for subfield in form_survey.v01 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.v01.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">13. How was the quality of the video?</label>
                                <div>
                                    {% for subfield in form_survey.v02 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.v02.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">14. What did you think of the online sessions?</label>
                                <div>
                                    {% for subfield in form_survey.v03 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.v03.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}

                                <div class="form-group" id="box-for-v03" style="display: none">
                                    <label class="form-label mb-1 text-2">Your suggestions to the virtual session:</label>
                                    {{ form_survey.v04(type="text", maxlength="500", class="form-control text-3 h-auto", rows="2", placeholder="") }}
                                    {% for error in form_survey.v04.errors %}
                                    <small style="color: #dc3545">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">15. Did you get a chance to ask questions?</label>
                                <div>
                                    {% for subfield in form_survey.v05 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.v05.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}

                                <div class="form-group" id="box-for-v05" style="display: none">
                                    <label class="form-label mb-1 text-2">Please detail the reason why:</label>
                                    {{ form_survey.v06(type="text", maxlength="500", class="form-control text-3 h-auto", rows="2", placeholder="") }}
                                    {% for error in form_survey.v06.errors %}
                                    <small style="color: #dc3545">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            

                            <div style="margin-bottom: 50px;" class="q-hidden q-author">
                                <label class="form-label mb-1 font-weight-bold">16. As a presenter/author, were the guidelines/templates for producing the video clear and adequate?</label>
                                <div>
                                    {% for subfield in form_survey.v07 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.v07.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">17. What do you think of the live-streaming and <a href="https://bs2023.org/gallery" target="_blank" style="color: #777777; text-decoration: underline;">video replay</a>?<span style="color: #cd563e;"> +</span></label>
                                <div>
                                    {% for subfield in form_survey.v08 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check form-check-inline">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.v08.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label class="form-label mb-1 font-weight-bold">18. Moving to a hybrid conference with a more immersive experience is expensive. We would like your views on whether you would be willing:</label>
                                <div>
                                    {% for subfield in form_survey.v09 %}
                                    {% if loop.index != 1 %}
                                    <div class="form-check">
                                        <tr>
                                            <td>{{ subfield(class="form-check-input", style="margin-top: 6px;") }}</td>
                                            <td>{{ subfield.label(class="form-check-label") }}</td>
                                        </tr>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% for error in form_survey.v09.errors %}
                                <small style="color: #dc3545">{{ error }}</small>
                                {% endfor %}
                            </div>

                        </div>

                        <hr>

                        <div class="form-group" id="box-for-v03" style="margin-bottom: 30px;">
                            <label class="form-label mb-1 text-2">Additional comments:</label>
                            {{ form_survey.q12(type="text", maxlength="500", class="form-control text-3 h-auto", rows="3", placeholder="") }}
                            {% for error in form_survey.q12.errors %}
                            <small style="color: #dc3545">{{ error }}</small>
                            {% endfor %}
                        </div>


                        <div class="row">
                            <div class="form-group mb-0">
                                {{ form_survey.submit(type="submit", value="Finished!", class="btn btn-outline-danger w-100") }}
                            </div>
                        </div>

                    </form>
                </div>
            </div>        

        </div>
    </div>
    
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $(".id-other").click(function() {
        var checkBoxes = $(".id-disable");
        checkBoxes.prop("checked", false);
        if ($('#is_author').checked) {
            $('.q-author').show();
        }
        else {
            $('.q-author').hide();
        }
        if ($('#is_reviewer').checked) {
            $('.q-reviewer').show();
        }
        else
        {
            $('.q-reviewer').hide();
        }
    });
    $(".id-disable").click(function() {
        var checkBoxes = $(".id-other");
        checkBoxes.prop("checked", false);
    });
});

$(document).ready(function() {
    $('input[type="checkbox"]').click(function() {
        var inputValue = $(this).attr("value");
        $("." + inputValue).toggle();
    });
});


$(document).ready(function(){
    var e = document.getElementById("attendance-mode");
    var check = e.value;
    if ( check == 1 )
    {
        $("#physicalqueries").show();
    }
    else if ( check == 2)
    {
        $("#virtualqueries").show();
    }
    $('#attendance-mode').on('change', function() {  
        var name=this.value;
        if ( name == 1 )
        {
            $("#physicalqueries").show();
            $("#virtualqueries").hide();
        }
        else if (name == 2)
        {
            $("#physicalqueries").hide();
            $("#virtualqueries").show();
        }
    });
});

$(document).ready(function(){

    $("input[name='v03']").on('click', function() {
        if ($("#v03-3").is(":checked")) {
            $("#box-for-v03").show();
        } else {
            $("#box-for-v03").hide();
        }
    });
    $("input[name='v05']").on('click', function() {
        if ($("#v05-2").is(":checked")) {
            $("#box-for-v05").show();
        } else {
            $("#box-for-v05").hide();
        }
    });
});

</script>
{% endblock %}