{% extends 'base.html' %}
{% block title %}Awards{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Main <strong>Themes</strong></h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Program</li>
                    <li class="active">Theme</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row">
        <div class="col-lg-6 pt-lg-3 pe-lg-5">
            <p>At Building Simulation 2023, we would like to put our discussions against one societal context: carbon neutralization, which has been the pressing issue of our global development. The main themes therefore incorporate macroscope topics concerned with building simulation as to policy on carbon emission & control, power systems at metropolis level, energy flow among regional cities, or even mining petascale data.</p>
            <p>The conference/technical program will continue to bring together the interests of academics and practitioners, and on top of that, we would like to invite policymakers to the game, trying to reshape the path forward. As a tradition, the themes keep expanding the frontier of building simulation techniques, such as the simulation module from system to the city, a better understanding of human factors, AI-assisted decision making, seamless interoperability in modeling and design.</p>
            <p>Please check the following themes as our proposed 7 tracks of the conference. You may need to choose only one category per each of your contributions. Sub-topics help you narrow down your specific research area. If not suitable, please <a href="{{ url_for('contact') }}">contact us</a>.</p>
        </div>
        <div class="col-lg-6">
            <div class="toggle toggle-primary toggle-simple" data-plugin-toggle>
                <section class="toggle">
                    <a class="toggle-title">Strategy & techniques toward carbon neutralization</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            Simulation supported regulations<br>
                            Energy theory of city scale<br>
                        </span>
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">Energy transition for smart metropolis</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            Demand response and flexibility<br>
                            Energy storage<br>
                            Grid interactive buildings<br>
                            Simulation at urban scale<br>
                            Urban resilience modeling<br>
                        </span>
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">Performance driven design</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            Weather analysis<br>
                            Building acoustics<br>
                            Daylighting and lighting<br>
                            CFD and air flow<br>
                            Solar System<br>
                            Passive/active buildings<br>
                            Workflow and design automation<br>
                        </span>
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">System operation in big data context</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            Big data application in buildings<br>
                            Commissioning and control<br>
                            Data-driven modeling and machine learning<br>
                            Fault detection and diagnostics<br>
                            Heating, ventilation and air conditioning<br>
                            Simulation vs. reality<br>
                            Validation, calibration and uncertainty<br>
                        </span>
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">Simulation techniques and software development</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            Advanced modeling, simulation and optimization<br>
                            Building information modeling<br>
                            Interoperability with BIM and simulation<br>
                            Building physics modeling<br>
                            Education application<br>
                            New software development<br>
                        </span>
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">Indoor environment and human behavior</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            Indoor environmental quality<br>
                            Occupant behavior in buildings<br>
                            Thermal comfort<br>
                        </span>
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">Renaissance of cultural heritage</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
{% endblock %}