{% extends 'base.html' %}
{% block title %}Awards{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Main <strong>Themes</strong></h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Program</li>
                    <li class="active">Theme</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row">
        <div class="col-lg-6 pt-lg-3 pe-lg-5">
            <p>At Building Simulation 2023, we would like to put our discussions against one societal context: carbon neutralization, which has been the pressing issue of our global development. The main themes therefore incorporate macroscope topics concerned with building simulation as to policy on carbon emission & control, power systems at metropolis level, energy flow among regional cities, or even mining petascale data.</p>
            <p>The conference/technical program will continue to bring together the interests of academics and practitioners, and on top of that, we would like to invite policymakers to the game, trying to reshape the path forward. As a tradition, the themes keep expanding the frontier of building simulation techniques, such as the simulation module from system to the city, a better understanding of human factors, AI-assisted decision making, seamless interoperability in modeling and design.</p>
            <p>Please check the following themes as our proposed 6 session tracks. You may need to choose only one category per each of your contributions. Topics help you narrow down your specific research area. If not suitable, please <a href="{{ url_for('contact') }}">contact us</a>.</p>
            <p><strong>VISION</strong></p>
            <p>Simulation for low carbon design, low carbon operation and low carbon city.</p>
        </div>
        <div class="col-lg-6">
            <div class="toggle toggle-primary toggle-simple" data-plugin-toggle>
                <section class="toggle">
                    <a class="toggle-title">Simulation-supported regulations</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            Regulations and codes<br>
                            Simulation vs. reality<br>
                        </span>
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">Performance-driven design</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            Active/Passive buildings<br>
                            Parametric/automatic design<br>
                            Weather and climate adaptation<br>
                            Lighting and acoustics<br>
                            CFD and airflow<br>
                        </span>
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">Simulating future metropolis</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            Flexibility and resilience<br>
                            District energy system<br>
                            Urban-scale simulation<br>
                            Urban renaissance and the cultural heritage<br>
                        </span>
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">Smart building system</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            HVAC system modeling<br>
                            Commissioning, diagnostics and control<br>
                            Validation, calibration and uncertainty<br>
                            Optimization<br>
                        </span>
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">Advanced modeling towards a digital world</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            Advanced modeling techniques<br>
                            BIM and interoperability<br>
                            New software development<br>
                            Education<br>
                        </span>
                    </div>
                </section>
                <section class="toggle">
                    <a class="toggle-title">Human-centered simulation and design</a>
                    <div class="toggle-content" style="padding-left: 32px;">
                        <span>
                            Thermal comfort<br>
                            Occupant behavior<br>
                            Indoor environmental quality<br>
                        </span>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
{% endblock %}