{% extends 'base.html' %}
{% block title %}Timeline{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Timeline</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Sign-up</li>
                    <li class="active">Timeline</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <span>Conference time: GMT+8:00. Where am I right <a href="#now">now</a>?</span>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="blog-posts">

                <section class="timeline">
                    <div class="timeline-body">
                        <div class="timeline-date">
                            <h3 class="font-weight-bold">2021</h3>
                        </div>

                        <article class="timeline-box left">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <h2 class="font-weight-semibold text-5 text-muted mb-0">Newsletter May</h2>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="font-weight-bold">2022</h3>
                        </div>

                        <article class="timeline-box left">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <h2 class="font-weight-semibold text-5 text-muted mb-0">Newsletter April</h2>
                            </div>
                        </article>


                        <article class="timeline-box left" id="now">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <h2 class="font-weight-semibold text-5 text-muted mb-0">Newsletter June</h2>
                            </div>
                        </article>

                        

                        <article class="timeline-calendar left">
                            <div class="p-2">
                                <div class="post-meta text-end">
                                    <span><i class="far fa-calendar-alt"></i> June 23, 2022 </span><br>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-box right post post-medium">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <div>
                                    <h2 class="font-weight-semibold text-5 text-muted line-height-4 mt-2 mb-2">Call for abstracts!</h2>
                                    <span class="text-muted">Proceed to "Submit Abstract" for a detailed guidance on the conference system and topics. Please submit a brief introduction of your work so we may have a better arrangement with the reviews and sessions.</span>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-calendar left">
                            <div class="p-2">
                                <div class="post-meta text-end">
                                    <span><i class="far fa-calendar-alt"></i> October 29, 2022 </span><br>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-box right post post-medium">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <div>
                                    <h2 class="font-weight-semibold text-5 text-muted line-height-4 mt-2 mb-2" style="text-decoration: line-through;">Abstract deadline</h2>
                                    <span class="text-muted">The deadline has been extended.</span>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-calendar left active">
                            <div class="p-2">
                                <div class="post-meta text-end">
                                    <span><i class="far fa-calendar-alt"></i> November 13, 2022 </span><br>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-box right post post-medium active">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <div>
                                    <h2 class="font-weight-semibold text-5 text-muted line-height-4 mt-2 mb-2"><a href="#">Extended abstract deadline</a></h2>
                                    <span class="text-muted">The system will close after 23:59:59 GMT+8, 13 November 2022. Please submit your abstract in advance in case of network issues.</span>
                                </div>
                            </div>
                        </article>

                        <div class="timeline-current">
                            <span>NOW</span>
                        </div>

                        <article class="timeline-calendar left">
                            <div class="p-2">
                                <div class="post-meta text-end">
                                    <span><i class="far fa-calendar-alt"></i> December 10, 2022 </span><br>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-box right post post-medium">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <div>
                                    <h2 class="font-weight-semibold text-5 text-muted line-height-4 mt-2 mb-2">Abstract acceptance notification</h2>
                                    <span class="text-muted">The notification of abstract acceptance will be delivered by email. We are looking forward to your high quality research! Please check out the submission <a href="{{ url_for('submit') }}">page</a> for templates and further guidance. </span>
                                </div>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="font-weight-bold">2023</h3>
                        </div>

                        <article class="timeline-box left">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <h2 class="font-weight-semibold text-5 text-muted mb-0">Early registration open</h2>
                            </div>
                        </article>

                        <article class="timeline-calendar right">
                            <div class="p-2">
                                <div class="post-meta">
                                    <span><i class="far fa-calendar-alt"></i> January 1, 2023 </span><br>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-calendar left">
                            <div class="p-2">
                                <div class="post-meta text-end">
                                    <span><i class="far fa-calendar-alt"></i> March 1, 2023 </span><br>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-box right post post-medium">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <div>
                                    <h2 class="font-weight-semibold text-5 text-muted line-height-4 mt-2 mb-2">Full paper due</h2>
                                    <span class="text-muted"></span>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-calendar left">
                            <div class="p-2">
                                <div class="post-meta text-end">
                                    <span><i class="far fa-calendar-alt"></i> April 5, 2023 </span><br>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-box right post post-medium">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <h2 class="font-weight-semibold text-5 text-muted line-height-4 mt-2 mb-2">Review notification</h2>
                                <span class="text-muted">The comments of the reviewers will be delivered through the conference system by email. Please contact us immediately if you thought there are any interest conflits or academic misconducts envolved.</span>
                            </div>
                        </article>

                        <article class="timeline-calendar left">
                            <div class="p-2 text-end">
                                <span><i class="far fa-calendar-alt"></i> May 3, 2023 </span><br>
                            </div>
                        </article>

                        <article class="timeline-box right post post-medium">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <h2 class="font-weight-semibold text-5 text-muted line-height-4 mt-2 mb-2">Revised paper due</h2>
                                <span></span>
                            </div>
                        </article>

                        <article class="timeline-calendar left">
                            <div class="p-2 text-end">
                                <span><i class="far fa-calendar-alt"></i> May 31, 2023 </span><br>
                            </div>
                        </article>

                        <article class="timeline-box right post post-medium">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <h2 class="font-weight-semibold text-5 text-muted line-height-4 mt-2 mb-2">Final acceptance notification</h2>
                                <span class="text-muted">Your work will be labeled as accept, minor revise or reject. You will have a week time to polish the paper and re-submit the final version.</span>
                            </div>
                        </article>

                        <article class="timeline-box left">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <h2 class="font-weight-semibold text-5 text-muted mb-0">Early-bird closed</h2>
                            </div>
                        </article>
                        <article class="timeline-calendar right">
                            <div class="p-2">
                                <div class="post-meta">
                                    <span><i class="far fa-calendar-alt"></i> June 30, 2023 </span><br>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-box left">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <h2 class="font-weight-semibold text-5 text-muted mb-0">Online registration closed</h2>
                            </div>
                        </article>
                        <article class="timeline-calendar right">
                            <div class="p-2">
                                <div class="post-meta">
                                    <span><i class="far fa-calendar-alt"></i> August 25, 2023 </span><br>
                                </div>
                            </div>
                        </article>

                        <article class="timeline-calendar left">
                            <div class="p-2 text-end">
                                <span><i class="far fa-calendar-alt"></i> September 3, 2023 </span><br>
                            </div>
                        </article>

                        <article class="timeline-box right post post-medium">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <h2 class="font-weight-semibold text-5 text-muted line-height-4 mt-2 mb-2">IBPSA sub-committee meeting</h2>
                            </div>
                        </article>

                        <article class="timeline-calendar left">
                            <div class="p-2 text-end">
                                <span><i class="far fa-calendar-alt"></i> September 4, 2023 </span><br>
                            </div>
                        </article>

                        <article class="timeline-box right post post-medium">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <h2 class="font-weight-semibold text-5 text-muted line-height-4 mt-2 mb-2">Conference start</h2>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="font-weight-bold">2024</h3>
                        </div>

                    </div>

                </section>

            </div>
        </div>

    </div>

</div>
{% endblock %}