{% extends 'base.html' %}
{% block title %}Virtual Session{% endblock %}

{% block content %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Virtual Session</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end">
                    <li>Home</li>
                    <li>Event</li>
                    <li class="active">Live</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-2 pb-4">

    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="text-color-dark font-weight-bold text-transform-none line-height-1 mb-4">Live Streaming!</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="d-grid">
                        <a href="https://play.yunxi.tv/pages/e51ab00fc0f641f58b68debedbb24bfb" target="_blank" class="btn btn-outline btn-quaternary btn-effect-4 mb-2">Yunxi Live &nbsp; <span><i class="fas fa-video"></i></span></a>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td>
                                    Sept.4 10:00-10:30
                                </td>
                                <td>
                                    Keynote speech - Zhiqiang Wu
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.4 13:30-14:15
                                </td>
                                <td>
                                    Keynote speech - Qingyan Chen
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.4 22:00-22:45
                                </td>
                                <td>
                                    Keynote speech - Tianzhen Hong
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.5 9:00-9:30
                                </td>
                                <td>
                                    <b>IBPSA Award Ceremony</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.5 22:00-22:45
                                </td>
                                <td>
                                    <b>Keynote speech - Lory McElroy</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.6 9:00-9:45
                                </td>
                                <td>
                                    Keynote speech - Mattheos Santamouris
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="d-grid">
                                <a href="https://zoom.us/j/99152482087?pwd=VUJzYXdTMnl0UFhrdWJ1YThRb2lLQT09" target="_blank" class="btn btn-outline btn-quaternary btn-effect-4 mb-2">ZOOM &nbsp; <span><i class="fas fa-video"></i></span></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-grid">
                                <a href="" target="_blank" class="btn btn-outline btn-quaternary btn-effect-4 mb-2">Youtube &nbsp; <span><i class="fas fa-video"></i></span></a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <table>
                            <tr>
                                <td>
                                    Sept.4 9:00-9:40
                                </td>
                                <td>
                                    Opening Ceremony
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.4 10:00-10:30
                                </td>
                                <td>
                                    Keynote speech - Zhiqiang Wu
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.4 13:30-14:15
                                </td>
                                <td>
                                    Keynote speech - Qingyan Chen
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.4 22:00-22:45
                                </td>
                                <td>
                                    Keynote speech - Tianzhen Hong
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.5 9:00-9:30
                                </td>
                                <td>
                                    IBPSA Award Ceremony
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.5 22:00-22:45
                                </td>
                                <td>
                                    <b>Keynote speech - Lory McElroy</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.6 9:00-9:45
                                </td>
                                <td>
                                    Keynote speech - Mattheos Santamouris
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sept.6 16:00-17:00
                                </td>
                                <td>
                                    Closing Ceremony
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
                


            <div class="col-6 pt-4">
                <h2 class="text-color-dark font-weight-bold text-transform-none line-height-1 mb-2">Virtual Sessions</h2>
            </div>
            <div>
                <p>You will find the ZOOM link and password in the <a href="https://www.conftool.pro/bs2023/sessions.php">conference agenda</a> after login.</p>
            </div>

        </div>
    </div>
    
</div>
{% endblock %}